<p-panel header="Customer Form">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="code">Code</label>
            <input type="text" class="form-control" formControlName="code">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="shortName">Short Name</label>
            <input type="text" class="form-control" formControlName="shortName">
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="consignee">Consignee</label>
            <input type="text" class="form-control" formControlName="consignee">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="continent">Continent</label>
            <input type="text" class="form-control" formControlNamet="continent">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="specialRequirements">Special Requirments</label>
            <input type="text" class="form-control" formControlName="specialRequirements">
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="finalDestination">Final Destination</label>
            <input type="text" class="form-control" formControlName="finalDestination">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="fax"> Fax</label>
            <input type="text" class="form-control" formControlName="fax">
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <label for="note">Note</label>
            <input type="text" class="form-control" formControlName="note">
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="vatNo">VAT No</label>
            <input type="text" class="form-control" formControlName="vatNo">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="sVatNo">SVAT No</label>
            <input type="text" class="form-control" formControlName="sVatNo">
          </div>
          <div class="col-md-4 hidden-sm-down">
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="customerType">Customer Type</label>
           <br/>
            <p-autoComplete formControlName="customerType" field="name" [suggestions]="filteredCustomerTypes" (completeMethod)="filterCustomerTypes($event)"
              [size]="30" [minLength]="1" placeholder=" Search"(onDropdownClick)="handleCustomerTypeDropdownClick($event)"
              (onSelect)="onCustomerTypeSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            <!-- <select id="customerTypeSelector" class="form-control" formControlName="customerType">
              <option *ngFor="let customerType of customerTypeList" [ngValue]="customerType">{{customerType.code}}</option>
            </select>-->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.customerType != null">
            <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.customerType.code}} | {{formGroup.value.customerType.name}}</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="currency">Currency</label>
            <br/>
            <p-autoComplete formControlName="currency" field="name" [suggestions]="filteredCurrencys" (completeMethod)="filterCurrencys($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handleCurrencyDropdownClick($event)"
              (onSelect)="onCurrencySelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
             <!--<select id="currencySelector" class="form-control" formControlName="currency">
              <option *ngFor="let currency of currencyList" [ngValue]="currency">{{currency.code}}</option>
            </select>-->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.currency != null">
            <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.currency.code}} | {{formGroup.value.currency.name}}</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="incoterm">Incoterm</label>
             <br/>
            <p-autoComplete formControlName="incoterm" field="name" [suggestions]="filteredIncoterms" (completeMethod)="filterIncoterms($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handleIncotermDropdownClick($event)"
              (onSelect)="onIncotermSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            <!--<select id="incotermSelector" class="form-control" formControlName="incoterm">
              <option *ngFor="let incoterm of incotermList" [ngValue]="incoterm">{{incoterm.code}}</option>
            </select>-->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.incoterm != null">
            <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.incoterm.code}} | {{formGroup.value.incoterm.name}}</label>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="notifyParty">Notify Party</label>
            <br/>
            <p-autoComplete formControlName="notifyParty" field="name" [suggestions]="filteredNotifyPartys" (completeMethod)="filterNotifyPartys($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handleNotifyPartyDropdownClick($event)"
              (onSelect)="onNotifyPartySelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            <!--<select id="notifyPartySelector" class="form-control" formControlName="notifyParty">
              <option *ngFor="let notifyParty of notifyPartyList" [ngValue]="notifyParty">{{notifyParty.code}}</option>
            </select>-->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.notifyParty != null">
            <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.notifyParty.code}} | {{formGroup.value.notifyParty.name}}</label>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="paymentTerm">Payment Term</label>
          <br/>
            <p-autoComplete formControlName="paymentTerm" field="name" [suggestions]="filteredPaymentTerms" (completeMethod)="filterPaymentTerms($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handlePaymentTermDropdownClick($event)"
              (onSelect)="onPaymentTermSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>

           <!-- <select id="paymentTermSelector" class="form-control" formControlName="paymentTerm">
              <option *ngFor="let paymentTerm of paymentTermList" [ngValue]="paymentTerm">{{paymentTerm.code}}</option>
            </select>-->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.paymentTerm != null">
            <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.paymentTerm.code}} | {{formGroup.value.paymentTerm.name}}</label>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>