<div id="print" hidden *ngIf="dispatchNote!=undefined" style="font-size: 130%;">
  <div class="container-fluid" style="padding: 15px;">
    <!-- Page Header  -->
    <div class='row'>
      <div class="col-6">
        <img src="http://kpi.trwlanka.com/assets/img/logo.png" />
        <br/>
        <br/>
        <b>{{organization===undefined?'':organization.name}} </b>
        <br/> No: 218, Minuwangoda Road,
        <br/> Ekala, Ja-Ela
        <br/> Sri Lanka.
        <br/>
        <br/>
      </div>
      <div class="col-6">

        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h2 class="panel-title">
              <b>DISPATCH NOTE</b>
            </h2>
          </div>
          <table class="table table-bordered">
            <!-- table-bordered table-condensed -->
            <tr>
              <td>
                <b>ID</b>
              </td>
              <td>{{dispatchNote.id}}</td>
            </tr>
            <tr>
              <td>
                <b>Date</b>
              </td>
              <td>{{dispatchNote.dispatchDate}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Customer</b>
            </h3>
          </div>
          <div class="panel-body">
            {{dispatchNote.customer.code}}
            <br/> {{dispatchNote.customer.name}}
            <br/> {{xAddress?.line1}}
            <br/> {{xAddress?.line2}}
            <br/> {{xAddress?.line3}}
            <br/> {{xAddress?.line4}}
            <br/> {{xAddress?.line5}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Destination</b>
            </h3>
          </div>
          <div class="panel-body">
            <br/> {{xAddress?.line1}}
            <br/> {{xAddress?.line2}}
            <br/> {{xAddress?.line3}}
            <br/> {{xAddress?.line4}}
            <br/> {{xAddress?.line5}}
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-12">
        <br/>
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th class="text-center">Job</th>
            <th class="text-center">PO</th>
            <th class="text-center">Customer Item</th>
            <th class="text-center">Item Code</th>
            <th class="text-center">Description</th>
            <th class="text-center">No of Packagers</th>
            <th class="text-center">Quantity</th>
          </tr>
          <tr *ngFor="let loadingPlanItem of xLoadingPlanItemList; let i = index">
            <td> {{ i+1 }} </td>
            <td> {{ loadingPlanItem.dispatchSchedule.job.jobNo }} </td>
            <td> {{ loadingPlanItem.dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber }} </td>
            <td> {{ loadingPlanItem.dispatchSchedule.salesOrderItem.customerItem.code }} </td>
            <td> {{ loadingPlanItem.dispatchSchedule.job.item.code }} </td>
            <td>
              {{ loadingPlanItem.dispatchSchedule.job.item.size }}
              <br/> {{ loadingPlanItem.dispatchSchedule.job.item.description }}
            </td>
            <td class="text-center" style="vertical-align:top"> {{(loadingPlanItem.noOfpackages) | number : '1.0-0'}}
            </td>
            <td class="text-center" style="vertical-align:top"> {{ loadingPlanItem.quantity}} </td>
          </tr>
          <tr>
            <td colspan="6" class="text-right">
              <b>Total</b>
            </td>
            <td class="text-center">
              <b>{{totalNumberOfPackages|number : '1.0-0'}}</b>
            </td>
            <td class="text-center">
              <b>{{totalQuantity}}</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='divFooter'>
      <div class='row'>
        <div class="col-12">

          <table class="table table-bordered text-center">
            <tr>
              <td colspan="2">
                <b>Inventory</b>
              </td>
              <td colspan="2">
                <b>Quality Control</b>
              </td>
              <td colspan="2">
                <b>Production</b>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
            </tr>

            <tr>
              <td colspan="3">
                <b>Security</b>
              </td>
              <td colspan="3">
                <b>Received By</b>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="3">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    DOC: ST/008 &nbsp;&nbsp;&nbsp; ISSUE NO: 01 &nbsp;&nbsp;&nbsp;ISSUE DATE: 2018/05/08
  </div>
</div>
