<div id="print" hidden *ngIf="dispatchNote!=undefined" style="font-size: 130%;">
  <div class="container-fluid" style="padding: 15px;">
    <!-- Page Header  -->
    <div class='row'>
      <div class="col-6">
        <img src="/assets/img/logo.png" />
        <br />
        <br />
        <b>{{organization===undefined?'':organization.name}} </b>
        <br /> No: 218, Minuwangoda Road,
        <br /> Ekala, Ja-Ela
        <br /> Sri Lanka.
        <br />
        <br />
      </div>
      <div class="col-6">

        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h2 class="panel-title">
              <b>DISPATCH NOTE</b>
            </h2>
          </div>
          <table class="table table-bordered">
            <tr>
              <td style="font-size: 20px">
                <b>ID</b>
              </td>
              <td style="font-size: 20px">{{dispatchNote.id}}</td>
            </tr>
            <tr>
              <td style="font-size: 20px">
                <b>Date</b>
              </td>
              <td style="font-size: 20px">{{dispatchNote.dispatchDate | date:'y-MM-dd'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Customer</b>
            </h3>
          </div>
          <div style="font-size: 20px " class="panel-body">
            {{dispatchNote.customer.code}}
            <br /> {{dispatchNote.customer.name}}
            <br /> {{xAddress?.line1}}
            <br /> {{xAddress?.line2}}
            <br /> {{xAddress?.line3}}
            <br /> {{xAddress?.line4}}
            <br /> {{xAddress?.line5}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Destination</b>
            </h3>
          </div>
          <div style="font-size: 20px " class="panel-body">
            {{dispatchNote.customer.name}}
            <br /> {{xAddress?.line1}}
            <br /> {{xAddress?.line2}}
            <br /> {{xAddress?.line3}}
            <br /> {{xAddress?.line4}}
            <br /> {{xAddress?.line5}}
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-12">
        <br />
        <table class="table table-bordered">
          <tr>
            <th style="font-size: 20px ">#</th>
            <th style="font-size: 20px " class="text-center">Job</th>
            <th style="font-size: 20px " class="text-center">PO</th>
            <th style="font-size: 20px " class="text-center">Item Code</th>
            <th style="font-size: 20px " class="text-center">Description</th>
            <th style="font-size: 20px " class="text-center">No of Packagers</th>
            <th style="font-size: 20px " class="text-center">Quantity</th>
          </tr>
          <tr *ngFor="let loadingPlanItem of xLoadingPlanItemList; let i = index">
            <td style="font-size: 20px "> {{ i+1 }} </td>
            <td style="font-size: 20px "> {{ loadingPlanItem.dispatchSchedule.job.jobNo }} </td>
            <td style="font-size: 20px ">
              <span style="white-space:nowrap">
                {{ loadingPlanItem.dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber }} </span>
            </td>
            <td style="font-size: 20px "><span style="white-space:nowrap"> {{
                loadingPlanItem.dispatchSchedule.salesOrderItem.customerItem.code }} </span>
              <br />
              <span style="white-space:nowrap">
                {{ loadingPlanItem.dispatchSchedule.job.item.code }} </span>
            </td>
            <td style="font-size: 20px">
              {{ loadingPlanItem.dispatchSchedule.job.item.size }}
              <br />
              <span style="white-space:normal">{{ loadingPlanItem.dispatchSchedule.job.item.description }}</span>
            </td>
            <td class="text-center" style="vertical-align:top;font-size: 20px">
              {{(loadingPlanItem.noOfpackages) | number : '1.0-0'}}
            </td>
            <td class="text-center" style="vertical-align:top;font-size: 20px"> {{ loadingPlanItem.quantity}}
            </td>
          </tr>
          <tr>
            <td style="font-size: 20px " colspan="5" class="text-right">
              <b>Total</b>
            </td>
            <td style="width:10%;font-size: 21px " class="text-center">
              <b>{{totalNumberOfPackages|number : '1.0-0'}}</b>
            </td>
            <td style="font-size: 21px " class="text-center">
              <b>{{totalQuantity}}</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='divFooter'>
      <div class='row'>
        <div class="col-12">

          <table class="table table-bordered text-center">
            <tr>
              <td style="font-size: 20px " colspan="2">
                <b>Inventory</b>
              </td>
              <td style="font-size: 20px " colspan="2">
                <b>Quality Control</b>
              </td>
              <td style="font-size: 20px " colspan="2">
                <b>Production</b>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <br />
                <br />
                <br />
              </td>
              <td colspan="2">
                <br />
                <br />
                <br />
              </td>
              <td colspan="2">
                <br />
                <br />
                <br />
              </td>
            </tr>

            <tr>
              <td style="font-size: 20px " colspan="3">
                <b>Security</b>
              </td>
              <td style="font-size: 20px " colspan="3">
                <b>Received By</b>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
              </td>
              <td colspan="3">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    DOC: ST/008 &nbsp;&nbsp;&nbsp; ISSUE NO: 01 &nbsp;&nbsp;&nbsp;ISSUE DATE: 2018/05/08
  </div>
</div>
