<div id="subcontract-rework-note-print" hidden *ngIf="subcontractReworkNote!=undefined" style="font-size: 130%;">
  <div class="container-fluid" style="padding: 15px;">
    <!-- Page Header  -->
    <div class='row'>
      <div class="col-6">
        <img src="/assets/img/logo.png" />
        <br/>
        <br/>
        <b>{{organization===undefined?'':organization.name}} </b>
        <br/> No: 218, Minuwangoda Road,
        <br/> Ekala, Ja-Ela
        <br/> Sri Lanka.
        <br/>
      </div>
      <div class="col-6">

        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3 class="panel-title">
              <span style="white-space:nowrap">
                <b>SUBCONTRACT REQUEST NOTE</b>
              </span>
              <span style="white-space:nowrap">
                <b>REJECT NOTE</b>
              </span>
            </h3>
          </div>
          <table class="table table-bordered">
            <tr>
              <td>
                <b>ID</b>
              </td>
              <td>SUB R{{((subcontractReworkNote.id)|number : '5.0-0').replace(',','') }}</td>
            </tr>
            <tr>
              <td>
                <b>Date</b>
              </td>
              <td>{{subcontractReworkNote.noteTime|date:'y-MM-dd'}}
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Subcontractor</b>
            </h3>
          </div>
          <div class="panel-body">
            {{subcontractReworkNote.subcontractor.name}}
            <br/>
            <span id="address" *ngFor="let line of subcontractReworkNote.subcontractor.address.split(',')">
              {{line}}
              <br/>
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Delivery Address</b>
            </h3>
          </div>
          <div class="panel-body">
            {{subcontractReworkNote.subcontractor.name}}
            <br/>
            <span id="address" *ngFor="let line of subcontractReworkNote.subcontractor.address.split(',')">
              {{line}}
              <br/>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-12">
        <br/>
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th class="text-center">Job</th>
            <th class="text-center">Product Type</th>
            <th class="text-center">Operation Type</th>
            <th class="text-center">Unit Rate</th>
            <th class="text-center">Reject Quantity</th>
            <th class="text-center">Total Cost</th>
          </tr>
          <tr *ngFor="let row of rowList; let i = index">
            <td> {{ i+1 }} </td>
            <td class="text-center">
              {{row.jobNo}}
            </td>
            <td class="text-left">
              {{row.itemCode}}
              <br/>{{row.productTypeDescription}}
            </td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let subRow of row.subRowList">
                  {{subRow.operationType}}
                </li>
              </ul>
            </td>
            <td class="text-right">
              <ul class="list-unstyled">
                <li *ngFor="let subRow of row.subRowList">
                  {{subRow.unitRate | number : '1.2-2'}}
                </li>
              </ul>
            </td>
            <td class="text-right">
              {{row.quantity | number : '1.2-2'}}
            </td>
            <td class="text-right">
              <ul class="list-unstyled">
                <li *ngFor="let subRow of row.subRowList">
                  {{subRow.amount | number : '1.2-2'}}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              <b>Total</b>
            </td>
            <td class="text-right">
              <b>{{totalQuantity}} </b>
            </td>
            <td class="text-right">
              <b>{{(totalCost)|number : '1.2-2'}}</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='divFooter'>
      <div class='row'>
        <div class="col-12">

          <table class="table table-bordered text-center">
            <tr>
              <td colspan="2">
                <b>Inventory</b>
              </td>
              <td colspan="2">
                <b>Production</b>
              </td>
              <td colspan="2">
                <b>Finance</b>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="2">
                <br/>
                <br/>
                <br/>
              </td>
            </tr>

            <tr>
              <td colspan="3">
                <b>Security</b>
              </td>
              <td colspan="3">
                <b>Received By</b>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
              <td colspan="3">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
