<div id="print" hidden *ngIf="salesOrder!=undefined">
  <div class="container-fluid" style="padding: 15px;">

    <!-- Page Header  -->
    <div class='row'>
      <div class="col-xs-5">
        <img src="http://kpi.trwlanka.com/assets/img/logo.png" />
        <br/>
        <br/>
        <b>{{organization===undefined?'':organization.name}}</b>
        <br/> No: 218, Minuwangoda Road,
        <br/> Ekala, Ja-Ela
        <br/> Sri Lanka.
        <br/>
        <br/>
      </div>
      <div class="col-xs-7">

        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3>
              <b>PRODUCTION CONFIRMATION</b>
            </h3>
          </div>
          <table class="table table-bordered table-sm">
            <!-- table-bordered table-condensed -->
            <tr>
              <td>
                <b>Order ID</b>
              </td>
              <td>{{salesOrder.id}}</td>
            </tr>
            <tr>
              <td>
                <b>Date</b>
              </td>
              <td>{{salesOrder.orderDate}}</td>
            </tr>
            <tr>
              <td>
                <b>Customer</b>
              </td>
              <td>{{salesOrder.customer.code}} &nbsp; {{salesOrder.customer.name}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Customer PO</b>
              </td>
              <td>{{salesOrder.customerPoNumber}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class='row'>
      <div class="col-xs-12">
        <table class="table table-bordered" border="1">
          <tr>
            <th>#</th>
            <th>Job</th>
            <th style="min-width: 180px">Item</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>
            <th class="text-right" style="min-width: 100px">Date</th>
          </tr>
          <tr *ngFor="let dispatchSchedule of dispatchScheduleList; let i = index">
            <td style="vertical-align:top"> {{ i+1 }} </td>
            <td style="vertical-align:top"> {{ dispatchSchedule.job.jobNo }} </td>
            <td style="vertical-align:top"> {{ dispatchSchedule.job.item.code }}
              <br/>{{ dispatchSchedule.salesOrderItem.customerItem.code }} </td>
            <td style="vertical-align:top"> {{ dispatchSchedule.salesOrderItem.customerItem.name }}
              <span style="white-space:nowrap"> [{{ dispatchSchedule.job.item.paint.code }}-{{ dispatchSchedule.job.item.paint.name }}]</span>
              <br/>
              <br/>
              <br/>
            </td>
            <td class="text-right" style="vertical-align:top"> {{ dispatchSchedule.quantity}} </td>
            <td class="text-right" style="vertical-align:top"> {{ dispatchSchedule.confirmDate}} </td>
          </tr>
          <tr>
            <td colspan="4" class="text-right">
              <b>Total</b>
            </td>
            <td class="text-right">
              <b>{{ salesOrder.quantity}}</b>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div class='divFooter'>
      <div class='row'>
        <div class="col-xs-12">

          <table class="table text-center">
            <tr>
              <td>
                <b>Checked By</b>
              </td>
              <td>
                <b>Tool Checked By</b>
              </td>
              <td>
                <b>Drawing Checked By</b>
              </td>
              <td>
                <b>Approved By</b>
              </td>
            </tr>
            <tr>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
