<div id="print" hidden *ngIf="salesOrder!=undefined">
  <table class="table">
    <thead>
      <tr>
        <th colspan="3" style="vertical-align:top">
          <img src="/assets/img/logo.png" />
          <br/>
          <b>{{organization===undefined?'':organization.name}}</b>
          <br/> No: 218, Minuwangoda Road
          <br/> Ekala, Ja-Ela
          <br/> Sri Lanka
          <br/>
          <br/>
        </th>
        <th colspan="3">
          <table class="table table-bordered table-sm">
            <tr>
              <td colspan="2" class="text-center" style="white-space:nowrap">
                <h3>
                  <b>PRODUCTION ORDER CONFIRMATION</b>
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <b>Order ID</b>
              </td>
              <td>{{salesOrder.id}}</td>
            </tr>
            <tr>
              <td>
                <b>Date</b>
              </td>
              <td>{{salesOrder.orderDate}}</td>
            </tr>
            <tr>
              <td>
                <b>Customer</b>
              </td>
              <td>{{salesOrder.customer.code}} &nbsp; {{salesOrder.customer.name}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Customer PO</b>
              </td>
              <td>{{salesOrder.customerPoNumber}}</td>
            </tr>
          </table>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>Job</th>
        <th>Item</th>
        <th>Description</th>
        <th class="text-right">Quantity</th>
        <th class="text-right" style="min-width: 100px">Date</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="6">
          <table class="table text-center" style="border: none !important;">
            <tr>
              <td>
                <b>Prepared By</b>
              </td>
              <td>
                <b>Checked By</b>
              </td>
              <td>
                <b>Tool Checked By</b>
              </td>
              <td>
                <b>Drawing Checked By</b>
              </td>
              <td>
                <b>Approved By</b>
              </td>
            </tr>
            <tr>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
              <td>
                <br/>
                <br/>
                <br/>
                <hr/>
              </td>
            </tr>
          </table>
        </th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let dispatchSchedule of dispatchScheduleList; let i = index">
        <td style="vertical-align:top"> {{ i+1 }}
        </td>
        <td style="vertical-align:top">
          {{ dispatchSchedule.job.jobNo }}
          <dl>
            <dt>
            </dt>
            <br/>
            <dd>
              <b>Remarks:</b>
              <br/> {{dispatchSchedule.salesOrderItem.remarks}}
            </dd>
          </dl>
        </td>
        <td style="vertical-align:top">
          <span style="white-space:nowrap">{{ dispatchSchedule.job.item.code }}</span>
          <br/>{{ dispatchSchedule.salesOrderItem.customerItem.code }} </td>
        <td style="vertical-align:top"> {{ dispatchSchedule.salesOrderItem.customerItem.name }}
          <span style="white-space:nowrap"> [{{ dispatchSchedule.job.item.paint.code }}-{{ dispatchSchedule.job.item.paint.name }}]</span>
          <br/>
          <br/>
          <br/>
        </td>
        <td class="text-right" style="vertical-align:top"> {{ dispatchSchedule.quantity}} </td>
        <td class="text-right" style="vertical-align:top">
          <span style="white-space:nowrap">{{ dispatchSchedule.confirmDate}} </span>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          <b>Total</b>
        </td>
        <td class="text-right">
          <b>{{ salesOrder.quantity}}</b>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    DOC: PL/001 &nbsp;&nbsp;&nbsp; ISSUE NO: 05 &nbsp;&nbsp;&nbsp;ISSUE DATE: 2018/05/08
  </div>
</div>
