<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Organization Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/organization/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form #form="ngForm" (ngSubmit)="save(form.value)" class="form-horizontal">
        <input type="hidden" id="id" name="id" #id="ngModel" [(ngModel)]="organization.id">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="code">Code</label>
            <br/>
            <input type="text" pInputText id="code" name="code" [(ngModel)]="organization.code" required>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="name">Name</label>
            <br/>
            <input type="text" pInputText id="name" name="name" [(ngModel)]="organization.name" required>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="slogan1">Slogan1</label>
            <br/>
            <input type="text" pInputText id="slogan1" name="slogan1" [(ngModel)]="organization.slogan1">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="slogan2">Slogan2</label>
            <br/>
            <input type="text" pInputText id="slogan2" name="slogan2" [(ngModel)]="organization.slogan2">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="vat">Vat</label>
            <br/>
            <input type="text" pInputText id="vat" name=" vat" [(ngModel)]="organization.vat">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="svat">Svat</label>
            <br/>
            <input type="text" pInputText id="svat" name="svat" [(ngModel)]="organization.svat">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label>Address</label>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" pInputText id="address1" name="address1" [(ngModel)]="organization.address1">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <br/>
            <input type="text" pInputText id="address2" name="address2" [(ngModel)]="organization.address2">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <br/>
            <input type="text" pInputText id="address3" name="address3" [(ngModel)]="organization.address3">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <br/>
            <input type="text" pInputText id="address4" name="address4" [(ngModel)]="organization.address4">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <br/>
            <input type="text" pInputText id="address5" name="address5" [(ngModel)]="organization.address5">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button pButton [disabled]="!form.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="reset" pButton class="ui-button-secondary" icon="fa-times" label="Reset"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>