<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Accident Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/accident/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="code">Code</label>
            <br/>
            <input type="text" pInputText formControlName="code">
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="accidentDate">Accident Date</label>
            <br/>
            <p-calendar id="orderDatePicker" formControlName="accidentDate" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
              hourFormat="24"></p-calendar>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="employee">Employee</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="employee" field="display" [suggestions]="filteredEmployeeList" (completeMethod)="filterEmployeeList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onEmployeeSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/employee/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="section">Section</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="section" field="display" [suggestions]="filteredSectionList" (completeMethod)="filterSectionList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onSectionSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/section/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="shift">Shift</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="shift" field="display" [suggestions]="filteredShiftList" (completeMethod)="filterShiftList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onShiftSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/shifts/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="machine">Machine</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="machine" field="display" [suggestions]="filteredMachineList" (completeMethod)="filterMachineList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onMachineSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/machines/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for=" accidentType"> Accident Type</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="accidentType" field="display" [suggestions]="filteredAccidentTypes" (completeMethod)="filterAccidentTypes($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onAccidentTypeSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/accidentTypes/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="responsiblePerson">Responsible Person</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="responsiblePerson" field="display" [suggestions]="filteredEmployeeList"
                (completeMethod)="filterEmployeeList($event)" [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onEmployeeSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/employee/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="rootCause">Root Cause</label>
            <br/>
            <input type="text" [size]="100" pInputText formControlName="rootCause">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <label for="correctiveAction">Corrective Action</label>
            <br/>
            <input type="text" [size]="83" pInputText formControlName="correctiveAction">
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <br/>
    <p-panel>
      <div class="row">
        <div class=" col-sm-12">
          <form [formGroup]="treatmentFormGroup" class="form-horizontal">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                  <label for="treatmentType">Treatment Type</label>
                  <br/>
                  <div class="ui-inputgroup">
                    <p-autoComplete id="treatmentTypeSelector" formControlName="treatmentType" field="display" [suggestions]="filteredTreatmentTypes"
                      (completeMethod)="filterTreatmentTypes($event)" [dropdown]="true" [size]="20" [minLength]="1" placeholder="Search"
                      (onSelect)="onTreatmentTypeSelect($event)">
                    </p-autoComplete>
                    <a routerLink="/pages/treatmentTypes/form" target="blank">
                      <button pButton type="button" icon="fa-plus-circle"></button>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! treatmentFormGroup.controls['description'].valid &&  treatmentFormGroup.controls['description'].touched), 'has-success': ( treatmentFormGroup.controls['description'].valid && treatmentFormGroup.controls['description'].touched)}">
                  <label for="description">Description</label>
                  <br/>
                  <input type="text" [size]="138" pInputText formControlName="description">
                </div>
              </div>
              &nbsp;
              <br/>
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! treatmentFormGroup.controls['startTime'].valid &&  treatmentFormGroup.controls['startTime'].touched), 'has-success': ( treatmentFormGroup.controls['startTime'].valid && treatmentFormGroup.controls['startTime'].touched)}">
                  <label for="startTime">Start Time</label>
                  <br/>
                  <p-calendar id="orderDatePicker" formControlName="startTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime" hourFormat="24"></p-calendar>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! treatmentFormGroup.controls['endTime'].valid &&  treatmentFormGroup.controls['endTime'].touched), 'has-success': ( treatmentFormGroup.controls['endTime'].valid && treatmentFormGroup.controls['endTime'].touched)}">
                  <label for="endTime">End Time</label>
                  <br/>
                  <p-calendar id="orderDatePicker" formControlName="endTime" #endTimes (keyup.enter)="onEnter(endTimes.value,dt)" showIcon="true"
                    dateFormat="yy-mm-dd" showTime="showTime" hourFormat="24"></p-calendar>
                </div>
              </div>
              <div class="col">
                <label for="inputFirstName">&nbsp;</label>
                <br/>
                <div class="form-group form-inline">
                  <button (click)="onEnter(endTimes.value,dt)" pButton type="button" class="ui-button-secondary" icon="fa-plus-circle" label="Add"></button>&nbsp;&nbsp;
                </div>
              </div>
            </div>
          </form>
          &nbsp;
          <br/>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <p-dataTable #dt [value]="formGroup.value.treatmentList" [editable]="true" [rows]="20" [responsive]="true" resizableColumns="true">
                <p-column field="id" header="ID"></p-column>
                <p-column field="treatmentType.name" header="Treatment Type"></p-column>
                <p-column field="description" header="Description"></p-column>
                <p-column field="startTime" header="Start Time">
                  <ng-template let-col let-rowData="rowData" pTemplate="body">
                    {{rowData.startTime|date:'y-MM-dd HH:mm'}}
                  </ng-template>
                </p-column>
                <p-column field="endTime" header="End Time">
                  <ng-template let-col let-rowData="rowData" pTemplate="body">
                    {{rowData.endTime|date:'y-MM-dd HH:mm'}}
                  </ng-template>
                </p-column>
                <p-column header="Action" styleClass="text-right">
                  <ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    <i (click)="removeTreatment(rowIndex)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        &nbsp;
        <br/>
        <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
        <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
        <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
      </div>
    </div>
  </form>
</p-panel>
