<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Subcontract Note Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/subcontractNote/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class='row'>
    <div class='col-sm-12'>
      <form [formGroup]='formGroup' class='form-horizontal'>
        <div class='row'>
          <div class='col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12'>
            <label for="noteTime">Note Time</label>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['noteTime'].valid && formGroup.controls['noteTime'].touched), 'has-success': (formGroup.controls['noteTime'].valid && formGroup.controls['noteTime'].touched)}">
              <p-calendar id="noteTimePicker" formControlName="noteTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime" hourFormat="24"></p-calendar>
            </div>
          </div>
          <div class='col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12'>
            <label for="subcontractor">Subcontractor</label> &nbsp;
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="subcontractor" field="display" [dropdown]="true" [suggestions]="filteredSubcontractorList"
                (completeMethod)="filterSubcontractorList($event)" [minLength]="1" placeholder="Search" (onSelect)="onSubcontractorSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/subcontractor/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
        </div>
        <br/>
        <p-tabView>
          <p-tabPanel header="New">
            <div class="row">
              <div class="col-sm-12">
                <form [formGroup]="subcontractOperationFormGroup" (ngSubmit)="onSubmit(subcontractOperationFormGroup.value,$event)" class="form-horizontal">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="form-group">
                        <label for="job">Job</label>
                        <br/>
                        <div class="ui-inputgroup">
                          <p-autoComplete id="jobSelector" formControlName="job" field="display" [suggestions]="filteredJobList" (completeMethod)="filterJobList($event)"
                            [minLength]="1" [size]=20 placeholder="Search" (onSelect)="onJobSelect($event)">
                          </p-autoComplete>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="form-group">
                        <label for="subcontractOperationRate">Subcontract Operation Rate</label>
                        <br/>
                        <div class="ui-inputgroup">
                          <p-autoComplete id="subcontractOperationRateSelector" [dropdown]="true" formControlName="subcontractOperationRate" field="display"
                            [suggestions]="filteredSubcontractOperationRateList" (completeMethod)="filterSubcontractOperationRateList($event)"
                            [minLength]="1" placeholder="Search" [size]=65 (onSelect)="onSubcontractOperationRateSelect($event)">
                          </p-autoComplete>
                          <a routerLink="/pages/SubcontractOperationRate/form" target="blank">
                            <button pButton type="button" icon="fa-plus-circle"></button>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="form-group" [ngClass]="{'has-error': (! subcontractOperationFormGroup.controls['quantity'].valid &&  subcontractOperationFormGroup.controls['quantity'].touched), 'has-success': ( subcontractOperationFormGroup.controls['quantity'].valid && subcontractOperationFormGroup.controls['quantity'].touched)}">
                        <label for="quantity">Quantity</label>
                        <br/>
                        <input type="number" #quantity (keyup.enter)="onEnterSubcontractOperation(quantity.value,dt)" pInputText formControlName="quantity">
                      </div>
                    </div>
                    <div class="col">
                      <label for="inputFirstName">&nbsp;</label>
                      <br/>
                      <div class="form-group form-inline">
                        <button (click)="onEnterSubcontractOperation(quantity.value,dt)" pButton type="button" class="ui-button-secondary" icon="fa-plus-circle"
                          label="Add"></button> &nbsp;&nbsp;
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <p-dataTable #dt [value]="formGroup.value.subcontractOperationList" [editable]="true" [rows]="20" [responsive]="true" resizableColumns="true">
                        <p-column field="id" header="ID"></p-column>
                        <p-column field="job.display" header="Job"></p-column>
                        <p-column field="subcontractOperationRate.subcontractorOperation.subcontractOperationDefinition.display" header="Subcontract Operation Definition"
                          [sortable]="true"></p-column>
                        <p-column field="subcontractOperationRate.rate" header="Rate" [sortable]="true" styleClass="text-right"></p-column>
                        <p-column field="subcontractOperationRate.dateOfRate" header="Date Of Rate" styleClass="text-left" [sortable]="true"></p-column>
                        <p-column field="quantity" header="Quantity" [editable]="true" styleClass="text-right"></p-column>
                        <p-column header="Action" styleClass="text-right">
                          <ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate="body">
                            <i (click)="removeSubcontractOperation(rowIndex,data)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                  </div>
                  <br/>
                  <div class='row'>
                    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
                      <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
                      <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
                      <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Return">
            <div class="row">
              <div class="col-sm-12">
                <form [formGroup]="subcontractReworkOperationFormGroup" (ngSubmit)="onSubmit(subcontractReworkOperationFormGroup.value,$event)"
                  class="form-horizontal">
                  <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="subcontractArrivalReject">Subcontract Arrival Reject</label>
                        <br/>
                        <div class="ui-inputgroup">
                          <p-autoComplete id="subcontractArrivalRejectSelector" [dropdown]="true" formControlName="subcontractArrivalReject" field="display"
                            [suggestions]="filteredSubcontractArrivalRejectList" (completeMethod)="filterSubcontractArrivalRejectList($event)"
                            [minLength]="1" [size]=40 placeholder="Search" (onSelect)="onSubcontractArrivalRejectSelect($event)">
                          </p-autoComplete>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group" [ngClass]="{'has-error': (! subcontractReworkOperationFormGroup.controls['quantity'].valid &&  subcontractReworkOperationFormGroup.controls['quantity'].touched), 'has-success': ( subcontractReworkOperationFormGroup.controls['quantity'].valid && subcontractReworkOperationFormGroup.controls['quantity'].touched)}">
                        <label for="quantity">Quantity</label>
                        <br/>
                        <input type="number" #quantity (keyup.enter)="onEnterSubcontractReworkOperation(quantity.value,dt)" pInputText formControlName="quantity">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12">
                      <label for="inputFirstName">&nbsp;</label>
                      <br/>
                      <div class="form-group form-inline">
                        <button (click)="onEnterSubcontractReworkOperation(quantity.value,dt)" pButton type="button" class="ui-button-secondary"
                          icon="fa-plus-circle" label="Add"></button> &nbsp;&nbsp;
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <p-dataTable #dt [value]="formGroup.value.subcontractReworkOperationList" [editable]="true" [rows]="20" [responsive]="true"
                        resizableColumns="true">
                        <p-column field="id" header="ID"></p-column>
                        <p-column field="subcontractArrivalReject.subcontractArrival.subcontractOperation.job.display" header="Job"></p-column>
                        <p-column field="subcontractArrivalReject.subcontractArrival.subcontractOperation.subcontractOperationRate.subcontractorOperation.subcontractOperationDefinition.display"
                          header="Subcontract Operation Definition" [sortable]="true"></p-column>
                        <p-column field="subcontractArrivalReject.lossReason.name" header="Loss Reason"></p-column>
                        <p-column field="subcontractArrivalReject.quantity" styleClass="text-right" header="Reject Quantity"></p-column>
                        <p-column field="quantity" header="Quantity" [editable]="true" styleClass="text-right"></p-column>
                        <p-column header="Action" styleClass="text-right">
                          <ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate="body">
                            <i (click)="removeSubcontractReworkOperation(rowIndex,data)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                  </div>
                  <br/>
                  <div class='row'>
                    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
                      <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
                      <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
                      <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </form>
    </div>
  </div>
</p-panel>
