<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Sales Order Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/salesOrder/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="salesOrderNumber">Sales Order Number</label>
            <br/>
            <input type="text" pInputText formControlName="salesOrderNumber">
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-12">
            <label for="orderDate">Order Date</label>
            <br/>
            <p-calendar id="orderDatePicker" formControlName="orderDate" showIcon="true" dateFormat="yy-mm-dd"></p-calendar>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="salesOrderType"> Sales Order Type</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="salesOrderType" field="display" [suggestions]="filteredSalesOrderTypes"
                (completeMethod)="filterSalesOrderTypes($event)" [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onSalesOrderTypeSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/salesOrderTypes/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for="customerPoNumber">Customer PO Number</label>
            <br/>
            <input type="text" pInputText formControlName="customerPoNumber">
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <label for=" customer"> Customer</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="customer" field="display" [suggestions]="filteredCustomerList" (completeMethod)="filterCustomerList($event)"
                [size]="30" [minLength]="1" [dropdown]="true" placeholder="Search" (onSelect)="onCustomerSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/customer/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <br/>
    <p-panel>
      <div class="row">
        <div class=" col-sm-12">
          <form [formGroup]="salesOrderItemFormGroup" class="form-horizontal">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="customerItem">Customer Item</label>
                  <br/>
                  <div class="ui-inputgroup">
                    <p-autoComplete id="customerItemSelector" [dropdown]="true" formControlName="customerItem" field="display" [suggestions]="filteredCustomerItems"
                      (completeMethod)="filterCustomerItems($event)" [size]="70" [minLength]="1" placeholder="Search" (onSelect)="onCustomerItemSelect($event)">
                    </p-autoComplete>
                    <a routerLink="/pages/customerItem/form" target="blank">
                      <button pButton type="button" icon="fa-plus-circle"></button>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! salesOrderItemFormGroup.controls['remarks'].valid &&  salesOrderItemFormGroup.controls['remarks'].touched), 'has-success': ( salesOrderItemFormGroup.controls['remarks'].valid && salesOrderItemFormGroup.controls['remarks'].touched)}">
                  <label for="remarks">Remarks</label>
                  <br/>
                  <input type="text" [size]="80" pInputText formControlName="remarks">
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! salesOrderItemFormGroup.controls['quantity'].valid &&  salesOrderItemFormGroup.controls['Quantity'].touched), 'has-success': ( salesOrderItemFormGroup.controls['quantity'].valid && salesOrderItemFormGroup.controls['quantity'].touched)}">
                  <label for="quantity"> Quantity</label>
                  <br/>
                  <input type="number" pInputText formControlName="quantity">
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <div class="form-group" [ngClass]="{'has-error': (! salesOrderItemFormGroup.controls['unitPrice'].valid &&  salesOrderItemFormGroup.controls['unitPrice'].touched), 'has-success': ( salesOrderItemFormGroup.controls['unitPrice'].valid && salesOrderItemFormGroup.controls['unitPrice'].touched)}">
                  <label for="unitPrice">Unit Price</label>
                  <br/>
                  <input type="number" #unitPrice (keyup.enter)="onEnter(unitPrice.value,dt)" pInputText formControlName="unitPrice">
                </div>
              </div>
              <div class="col">
                <label for="inputFirstName">&nbsp;</label>
                <br/>
                <div class="form-group form-inline">
                  <button (click)="onEnter(unitPrice.value,dt)" pButton type="button" class="ui-button-secondary" icon="fa-plus-circle" label="Add"></button> &nbsp;&nbsp;
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <p-dataTable #dt (onEditComplete)="onEditComplete()" [value]="formGroup.value.salesOrderItemList" [editable]="true" [rows]="20"
                [responsive]="true" resizableColumns="true">
                <p-column field="id" header="ID"></p-column>
                <p-column field="customerItem.code" header="Customer Item"></p-column>
                <p-column field="remarks" header="Remarks"></p-column>
                <p-column field="unitPrice" header="Unit Price" styleClass="text-right" [editable]="true">
                  <ng-template let-col let-salesOrderItem="rowData" pTemplate="body">
                    {{ salesOrderItem.unitPrice | number : '1.2-2' }}
                  </ng-template>
                </p-column>
                <p-column field="quantity" header="Quantity" styleClass="text-right" [editable]="true"></p-column>
                <p-column field="amount" header="Amount" styleClass="text-right">
                  <ng-template let-col let-salesOrderItem="rowData" pTemplate="body">
                    {{ salesOrderItem.amount | number : '1.2-2' }}
                  </ng-template>
                </p-column>
                <p-column header="Action" styleClass="text-right">
                  <ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    <i (click)="removeSalesOrderItem(rowIndex)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
                  </ng-template>
                </p-column>
                <p-footerColumnGroup>
                  <p-row>
                    <p-column footer="Totals:" colspan="4" styleClass="text-right"></p-column>
                    <p-column footer="{{formGroup.value.quantity}}" styleClass="text-right"></p-column>
                    <p-column footer="{{formGroup.value.amount | number : '1.2-2' }}" styleClass="text-right"></p-column>
                    <p-column footer=""></p-column>
                  </p-row>
                </p-footerColumnGroup>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <br/>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        &nbsp;
        <br/>
        <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
        <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
        <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
      </div>
    </div>
  </form>
</p-panel>
