      <p-panel header="Control Point Form">

        <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
              <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label for="code">Code</label>
                  <input type="text" class="form-control" formControlName="code">
                </div>
              
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
              
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label for="controlPointType">Type</label>
                  <select id="controlPointTypeSelector" class="form-control" formControlName="controlPointType">
					        <option *ngFor="let controlPointType of controlPointTypes" [ngValue]="controlPointType">{{controlPointType.code}}</option>
				        </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="formGroup.value.controlPointType != null">
                   <p class="hidden-xs-down">&nbsp;</p>
                  <label>{{formGroup.value.controlPointType.code}} | {{formGroup.value.controlPointType.name}}</label>
                </div>
             
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label for="workCenter">Work Center</label>
                  <select id="workCenterSelector" class="form-control" formControlName="workCenter">
					        <option *ngFor="let workCenter of workCenters" [ngValue]="workCenter">{{workCenter.code}}</option>
				        </select>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12" *ngIf="formGroup.value.workCenter != null">
                   <p class="hidden-xs-down">&nbsp;</p>
                  <label>{{formGroup.value.workCenter.code}} | {{formGroup.value.workCenter.name}}</label>
                </div>
                            
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
                  <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </p-panel>