<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Master Order Book List</h4>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:right; margin-right:6px;">
          <i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
      </div>
    </div>
  </p-header>
  <p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [lazy]="true"
    (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple"
    resizableColumns="true" exportFilename="orderInformations">
    <p-header>
      <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration Start
          <br/>
          <p-calendar id="startDatePicker" showIcon="true" [(ngModel)]="startDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration End
          <br/>
          <p-calendar id="endDatePicker" showIcon="true" [(ngModel)]="endDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Customer
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="customer" field="display" [dropdown]="true" [suggestions]="filteredCustomers" (completeMethod)="filterCustomers($event)"
              [size]="12" [minLength]="1" placeholder="Customer" (onSelect)="onCustomerSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Job
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="job" field="display" [dropdown]="true" [suggestions]="filteredJobs" (completeMethod)="filterJobs($event)"
              [size]="12" [minLength]="1" placeholder="Job" (onSelect)="onJobSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          OTR Code
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="item" field="display" [dropdown]="true" [suggestions]="filteredItems" (completeMethod)="filterItems($event)"
              [size]="12" [minLength]="1" placeholder="Item" (onSelect)="onItemSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Sales Order Type
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="salesOrderType" field="display" [suggestions]="filteredSalesOrderTypes" (completeMethod)="filterSalesOrderTypes($event)"
              [size]="12" [dropdown]="true" [minLength]="1" placeholder="Search" (onSelect)="onSalesOrderTypeSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: left">
          <br/>
          <button type="button" class="btn btn-primary btn-xs" (click)="search()">
            <i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Search
          </button> &nbsp;&nbsp;{{totalRecords}}
        </div>
      </div>
    </p-header>
    <p-column field="id" header="ID"></p-column>
    <p-column field="job.jobNo" header="Job No" [sortable]="true"></p-column>
    <p-column field="salesOrderItem.salesOrder.orderDate" header="Order Receive Date"></p-column>
    <p-column field="salesOrderItem.salesOrder.salesOrderType.name" header="Order Type" [sortable]="true"></p-column>
    <p-column field="salesOrderItem.salesOrder.customer.code" header="Customer Code" [sortable]="true"></p-column>
    <p-column field="salesOrderItem.salesOrder.customer.name" header="Customer Name" [sortable]="true"></p-column>
    <p-column field="salesOrderItem.salesOrder.customerPoNumber" header="Customer Po Number" [sortable]="true"></p-column>
    <p-column field="salesOrderItem.customerItem.code" header="Customer Item Code" [sortable]="true"></p-column>
    <p-column field="job.item.code" header="OTR Code" [sortable]="true"></p-column>
    <p-column field="job.item.size" header="Size" [sortable]="true"></p-column>
    <p-column field="job.item.description" header="Description" [sortable]="true"></p-column>
    <p-column field="job.item.paint.code" header="Paint Code" [sortable]="true"></p-column>
    <p-column field="job.item.paint.name" header="Paint Description" [sortable]="true"></p-column>
    <p-column field="quantity" header="Scheduled Quantity" [sortable]="true"></p-column>
    <p-column field="dispatchedQuantity" header="Dispatched Quantity" [sortable]="true"></p-column>
    <p-column field="remainingQuantity" header="Remaining Quantity" [sortable]="true"></p-column>
    <p-column field="job.item.weight" header="Unit Weight KG" [sortable]="true"></p-column>
    <p-column field="requestDate" header="Customer Request Date"></p-column>
    <p-column field="confirmDate" header="OTR Confirm Date"></p-column>
  </p-dataTable>
</p-panel>
