<div id="commercialInvoicePrint" hidden *ngIf="invoice!=undefined" style="font-size: 130%;">
  <div class="container-fluid" style="padding: 15px;">
    <!-- Page Header  -->
    <br/>
    <br/>
    <br/>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <td colspan="8" style=" border: 1px solid #ffffff !important;">
            <table class="table-no-border" width="100%">
              <tr>
                <td style=" border-bottom: 1px solid #000000 !important;">
                  <div style="float:left; margin-left:6px;">
                    <table class="table table-sm table-no-border">
                      <tr>
                        <td class="text-left">
                          <h3> Invoice No:</h3>
                        </td>
                        <td class="text-left">
                          <h3>
                            <b>&nbsp;&nbsp;{{invoice.invoiceNumber}}</b>
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td class="left">
                          Date of Invoice:
                        </td>
                        <td class="text-left">
                          <b>&nbsp;&nbsp;&nbsp;{{invoice.invoiceDate}}</b>
                        </td>
                      </tr>
                    </table>
                    <h2>
                      <b>Commercial Invoice</b>
                    </h2>
                  </div>
                </td>
                <td style=" border-bottom: 1px solid #000000 !important;">
                  <div style="float:right; margin-right:6px;">
                    <img height="120px" src="http://kpi.trwlanka.com/assets/img/logo.png" />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="border:none; vertical-align: top;">
                  <br/>
                  <b>Shipper: </b>
                  <p style="line-height:150%">
                    OTR Wheel Engineering Lanka (Pvt) Ltd.
                    <br/>No: 218, Minuwangoda Road
                    <br/> Ekala, Ja-Ela
                    <br/> Sri Lanka
                    <br/> Tele:+94 117595900-01
                    <br/>Fax:+94 11 2226454
                  </p>
                </td>
                <td style="border:none; vertical-align: top; padding-left: 150px;">
                  <br/>
                  <b>Ship Address: </b>
                  <p style="line-height:150%">
                    {{invoice.customer.name}}
                    <span *ngIf="(xAddress?.line1!=''&&xAddress?.line1!=null&&xAddress?.line1!=undefined)">
                      <br/> {{xAddress?.line1}}
                    </span>
                    <span *ngIf="(xAddress?.line2 !=''&&xAddress?.line2!=null&&xAddress?.line2!=undefined)">
                      <br/> {{xAddress?.line2}}
                    </span>
                    <span *ngIf="(xAddress?.line3 !=''&&xAddress?.line3!=null&&xAddress?.line3!=undefined)">
                      <br/> {{xAddress?.line3}}
                    </span>
                    <span *ngIf="(xAddress?.line4 !=''&&xAddress?.line4!=null&&xAddress?.line4!=undefined)">
                      <br/>{{xAddress?.line4}}
                    </span>
                    <span *ngIf="(xAddress?.line5!=''&&xAddress?.line5!=null&&xAddress?.line5!=undefined)">
                      <br/>{{xAddress?.line5}}
                    </span>
                    <span *ngIf="(xAddress?.country?.name!=''&&xAddress?.country?.name!=null&&xAddress?.country?.name!=undefined)">
                      <br/>{{xAddress?.country?.name}}
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border:none; vertical-align: top; ">
                  <br/>
                  <b>Consignee Address: </b>
                  <p style="line-height:150%">
                    <span id="consignee" *ngFor="let line of invoice.customer.consignee.split(',')">
                      {{line}}
                      <br/>
                    </span>
                    {{xAddress?.country?.name}}
                  </p>
                </td>
                <td style="border:none; vertical-align: top;padding-left: 150px; ">
                  <br/>
                  <b>Contact: </b>
                  <p style="line-height:150%">
                    <span *ngFor="let contact of invoice.customer.contactList">
                      {{contact?.contactNumber}}
                      <br/>
                    </span>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="8" style=" border: 1px solid #ffffff !important;  border-bottom: 1px solid #000000 !important;">
            <table class="table table-bordered text-center">

              <tr>
                <th>
                  Country of Origin
                </th>
                <th>
                  Contact Person
                </th>
                <th>
                  Payment Term
                </th>
                <th>
                  Inco Term
                </th>
                <th>
                  No of Containers
                </th>
                <th>
                  Container Size
                </th>
                <th>
                  Currency
                </th>
              </tr>
              <tr>
                <td>Sri Lanka
                </td>
                <td>{{invoice.customer?.employee?.callingName}}
                </td>
                <td>{{invoice.customer.paymentTerm.name}}
                </td>
                <td>{{invoice.customer.incoterm.name}}
                </td>
                <td>{{xNoOfContainers}}
                </td>
                <td>{{xContainerSize?.name}}
                </td>
                <td>{{invoice.customer.currency.name}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <th class="text-center" style=" border: 1px solid #000000 !important;">No</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">P/O No</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">Item</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">Description</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">PKGS</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">Qty</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">Unit Price</th>
          <th class="text-center" style=" border: 1px solid #000000 !important;">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loadingPlanItem of xLoadingPlanItemList; let i = index">
          <td style="vertical-align:top"> {{ i+1 }} </td>
          <td style="vertical-align:top">
            <span style="white-space:nowrap">
              {{loadingPlanItem.dispatchSchedule?.salesOrderItem?.salesOrder?.customerPoNumber}}
            </span>
          </td>
          <td style="vertical-align:top"> {{loadingPlanItem.dispatchSchedule?.salesOrderItem?.customerItem?.code}}
            <br/>
            <span style="white-space:nowrap">
              {{loadingPlanItem.dispatchSchedule?.job?.item?.code}}
            </span>
          </td>
          <td style="vertical-align:top">{{ loadingPlanItem.dispatchSchedule?.job?.item?.size }}
            <br/> {{loadingPlanItem.dispatchSchedule?.job?.item?.description}}
          </td>
          <td class="text-right" style="vertical-align:top"> {{((loadingPlanItem.invoiceQuantity / loadingPlanItem.packagingSpecification.perPalletQuantity))>=1?
            Math.ceil((loadingPlanItem.invoiceQuantity / loadingPlanItem.packagingSpecification.perPalletQuantity)):(loadingPlanItem.invoiceQuantity
            / loadingPlanItem.packagingSpecification.perPalletQuantity) | number : '1.2-2'}}
          </td>
          <td class="text-right" style="vertical-align:top"> {{loadingPlanItem.invoiceQuantity}} </td>
          <td class="text-right" style="vertical-align:top"> {{loadingPlanItem.unitPrice}} </td>
          <td class="text-right" style="vertical-align:top"> {{(loadingPlanItem.amount)| number : '1.2-2'}} </td>
        </tr>
        <tr>
          <td colspan="7" class="text-right">
            <b>Total Value</b>
          </td>
          <td class="text-right">
            {{(totalAmount)| number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td colspan="7" class="text-right">
            <b>Total Weight Kg</b>
          </td>
          <td class="text-right">
            {{(totalWeight)| number : '1.3-3'}}
          </td>
        </tr>
        <tr>
          <td colspan="8" style=" border: 1px solid #ffffff !important; ">
            <br/>
            <p>
              <b> Packing List No:</b> PL{{((xLoadingPlanId)|number : '5.0-0').replace(',','')}}
            </p>
          </td>
        </tr>
        <tr>
          <th colspan="8" style=" border: 1px solid #ffffff !important;  border-top: 1px solid #000000 !important;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <b>------------------------------------</b>
            <br/>Authorized Signature
          </th>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      DOC: PL/009 &nbsp;&nbsp;&nbsp; ISSUE NO: 01 &nbsp;&nbsp;&nbsp;ISSUE DATE: 2018/05/08
    </div>
  </div>
</div>
