<p-panel>
	<p-header>
		<div class="row">
			<div class="col">
				<h4>Operation List</h4>
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:right; margin-right:6px;">
					<i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
			</div>
		</div>
	</p-header>
	<p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [lazy]="true"
	 (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple"
	 resizableColumns="true" exportFilename="operations" (onRowDblclick)="onRowDblclick($event.data)">
		<p-header>
			<div class="row">
				<div class="col" style="text-align: left">
					Duration
					<p-calendar id="startDatePicker" showIcon="true" [(ngModel)]="startDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
					<p-calendar id="endDatePicker" showIcon="true" [(ngModel)]="endDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
				</div>
				<div class="col" style="text-align: left">
					Shift
					<div class="ui-inputgroup">
						<p-autoComplete [(ngModel)]="shift" field="name" [suggestions]="filteredShifts" (completeMethod)="filterShifts($event)" [size]="30"
						 [minLength]="1" [dropdown]="true" placeholder="Search" (onSelect)="onShiftSelect($event)">
							<ng-template let-option pTemplate="option">
								<div class="ui-helper-clearfix">
									<div>{{option.code}}</div>
								</div>
							</ng-template>
						</p-autoComplete>
						<a routerLink="/pages/shift/form" target="blank">
							<button pButton type="button" icon="fa-plus-circle"></button>
						</a>
					</div>
				</div>
				<div class="col" style="text-align: left">
					Section
					<div class="ui-inputgroup">
						<p-autoComplete [(ngModel)]="section" field="name" [suggestions]="filteredSections" (completeMethod)="filterSections($event)"
						 [size]="30" [minLength]="1" [dropdown]="true" placeholder="Search" (onSelect)="onSectionSelect($event)">
							<ng-template let-option pTemplate="option">
								<div class="ui-helper-clearfix">
									<div>{{option.code}}</div>
								</div>
							</ng-template>
						</p-autoComplete>
						<a routerLink="/pages/section/form" target="blank">
							<button pButton type="button" icon="fa-plus-circle"></button>
						</a>
					</div>
				</div>
				<div class="col" style="text-align: left">
					<button type="button" class="btn btn-primary btn-xs" (click)="search()">
						<i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Search
					</button> &nbsp;&nbsp;{{totalRecords}}
				</div>
			</div>
		</p-header>
		<p-column field="id" header="ID"></p-column>
		<p-column field="production.id" header="Production ID"></p-column>
		<p-column field="production.controlPoint.code" header="Control Point"></p-column>
		<p-column field="production.productionDate" header="Production Date"></p-column>
		<p-column field="job.jobNo" header="Job"></p-column>
		<p-column field="job.item.code" header="Item"></p-column>
		<p-column field="plannedQuantity" header="Planned Quantity" styleClass="text-right"></p-column>
		<p-column field="actualQuantity" header="Actual Quantity" styleClass="text-right"></p-column>
		<p-column field="productType.description" header="Product Type"></p-column>
		<p-column field="operationType.description" header="Operation Type"></p-column>
	</p-dataTable>
</p-panel>
<p-dialog *ngIf="selectedOpertion" header="Loss Of Operation: {{selectedOpertion.id}}" [(visible)]="display" modal="modal"
 [responsive]="true">
	<div>
		<p-dataTable [value]="selectedOpertion.lossList">
			<p-column field="quantity" header="Quantity"></p-column>
			<p-column field="lossReason.code" header="Reason Code"></p-column>
			<p-column field="lossReason.name" header="Reason"></p-column>
		</p-dataTable>
	</div>
</p-dialog>