<p-panel header="Operation List">
	<p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [stacked]="stacked" [paginator]="true" [totalRecords]="totalRecords"
	 [lazy]="true" (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100]" selectionMode="single"
	 sortMode="multiple" resizableColumns="true" exportFilename="operations" [globalFilter]="gb">
		<p-header>
			<div class="row">
				<div class="ui-helper-clearfix col-sm-11 text-left">
					<label>Date:</label>
					<div class="d-inline" style="padding-right: 35px; ">
						<p-calendar id="datePicker" showIcon="true" [(ngModel)]="productionDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
					</div>

					<label>Shift:</label>
					<select id="shiftSelector" [(ngModel)]="shift" class="ui-inputtext ui-widget ui-state-default ui-corner-all">
					        <option *ngFor="let shift of shifts" [ngValue]="shift">{{shift.code}}</option>
				        </select>

					<label>Section:</label>
					<select id="sectionSelector" [(ngModel)]="section" class="ui-inputtext ui-widget ui-state-default ui-corner-all input-sm">
					        <option *ngFor="let section of sections" [ngValue]="section">{{section.code}}</option>
				        </select>

					<button type="button" class="btn btn-primary btn-xs" (click)="search()"><i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Search</button>

				</div>
				<div class="ui-helper-clearfix col-sm-1">
					<button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()"><i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>

				</div>
				<!--
				<div class="col-sm-2">
					<input #gb type="text" class="form-control form-control-sm" placeholder="search">
				</div>
				-->
			</div>
		</p-header>
		<p-column field="id" header="ID" [style]="{'width':'50px'}"></p-column>
		<!--  [sortable]="true" -->
		<p-column field="production.controlPoint.code" header="Control Point"></p-column>
		<p-column field="production.productionDate" header="Production Date"></p-column>
		<p-column field="job.jobNo" header="Job"></p-column>
		<p-column field="job.item.code" header="Item"></p-column>
		<p-column field="plannedQuantity" header="Planned Quantity" styleClass="text-right"></p-column>
		<p-column field="actualQuantity" header="Actual Quantity" styleClass="text-right"></p-column>
		<p-column field="productType.description" header="Product Type"></p-column>
		<p-column field="operationType.description" header="Operation Type"></p-column>
	</p-dataTable>
</p-panel>