<div class="row col-12">
	<form [formGroup]="jobFormGroup">

		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="jobSelector">Job Number</label>
<!--					<select id="jobSelector" class="form-control" formControlName="job">-->
<!--						<option *ngFor="let job of jobs" [ngValue]="job">{{job.jobNo}}</option>-->
<!--					</select>-->
<!--          <br/>-->
          <div class="ui-inputgroup">
            <p-autoComplete id="jobSelector" formControlName="job" [dropdown]="true" field="display" [suggestions]="filteredJobs" (completeMethod)="filterJobs($event)"
                            [size]="25" [minLength]="1" placeholder="Search" (onSelect)="onJobSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.jobNo}} </div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="productTypeSelector">Product Type</label>
<!--					<select class="form-control" formControlName="productType">-->
<!--						<option *ngFor="let productType of productTypes" [ngValue]="productType">{{productType.code}} | {{productType.description}}</option>-->
<!--					</select>-->
          <div class="ui-inputgroup">
            <p-autoComplete id="productTypeSelector" formControlName="productType" [dropdown]="true" field="display" [suggestions]="filteredProductTypes" (completeMethod)="filterProductTypes($event)"
                            [size]="25" [minLength]="1" placeholder="Search" (onSelect)="onProductTypeSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} | {{option.description}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="operationTypeSelector">Operation Type</label>
<!--					<select class="form-control" formControlName="operationType">-->
<!--						<option *ngFor="let operationType of operationTypes" [ngValue]="operationType">{{operationType.code}} | {{operationType.description}}</option>-->
<!--					</select>-->
          <div class="ui-inputgroup">
            <p-autoComplete id="operationTypeSelector" formControlName="operationType" [dropdown]="true" field="display" [suggestions]="filteredOperationTypes" (completeMethod)="filterOperationTypes($event)"
                            [size]="25" [minLength]="1" placeholder="Search" (onSelect)="onOperationTypeSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} | {{option.description}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group" [ngClass]="{'has-error': (!jobFormGroup.controls['plannedQuantity'].valid && jobFormGroup.controls['plannedQuantity'].touched), 'has-success': (jobFormGroup.controls['plannedQuantity'].valid && jobFormGroup.controls['plannedQuantity'].touched)}">
					<label for="plannedQuantity">Quantity</label>
					<input id="plannedQuantity" type="number" class="form-control " placeholder="quantity" #plannedQuantity (keyup.enter)="onEnter(plannedQuantity.value,dt)"
					 formControlName="plannedQuantity">
				</div>
			</div>
      <div class="col-sm-3">
        <label for="startTimePicker">Start Time</label>
        <div class="form-group" [ngClass]="{'has-error': (!jobFormGroup.controls['startTime'].valid && jobFormGroup.controls['startTime'].touched), 'has-success': (jobFormGroup.controls['startTime'].valid && jobFormGroup.controls['startTime'].touched)}">
          <p-calendar id="startTimePicker" formControlName="startTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
                      hourFormat="24"></p-calendar>
        </div>
      </div>
      <div class="col-sm-3">
        <label for="endTimePicker">End Time</label>
        <div class="form-group" [ngClass]="{'has-error': (!jobFormGroup.controls['endTime'].valid && jobFormGroup.controls['endTime'].touched), 'has-success': (jobFormGroup.controls['endTime'].valid && jobFormGroup.controls['endTime'].touched)}">
          <p-calendar id="endTimePicker" formControlName="endTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
                      hourFormat="24"></p-calendar>
        </div>
      </div>
			<div class="col-sm-3">
				<label >&nbsp;</label>
				<div class="form-group form-inline">
					<button (click)="onEnter(plannedQuantity.value,dt)" pButton type="button" icon="fa-plus-circle" label="Add"></button> &nbsp;&nbsp;
					<button type="button" pButton (click)="refresh()" class="ui-button-secondary" icon="fa-refresh" label="Refresh"></button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row col-12">
	<p-dataTable #dt [value]="formGroup.value.operationList" [rows]="20" [responsive]="true" resizableColumns="true" selectionMode="single">
		<p-column field="id" header="ID"></p-column>
		<p-column field="job.item.code" header="Item"></p-column>
		<p-column field="job.jobNo" header="Job"></p-column>
		<p-column field="productType.code" header="Product Type"></p-column>
		<p-column field="operationType.code" header="Operation Type"></p-column>
		<p-column field="plannedQuantity" header="Quantity"></p-column>
		<p-column field="job.quantity" header="Job Quantity"></p-column>
    <p-column field="startTime" header="Start Time">
      <ng-template let-col let-rowData="rowData" pTemplate="body">
        {{rowData.startTime | date:'y-MM-dd HH:mm'}}
      </ng-template>
    </p-column>
    <p-column field="endTime" header="End Time">
      <ng-template let-col let-rowData="rowData" pTemplate="body">
        {{rowData.endTime | date:'y-MM-dd HH:mm'}}
      </ng-template>
    </p-column>
		<p-column header="Action" styleClass="text-right">
			<ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate="body" style="float:right">
				<i (click)="removeOperation(rowIndex)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
			</ng-template>
		</p-column>
	</p-dataTable>
</div>
