<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Exchange Rate Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/exchangeRate/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <label for="exchangeRateDate">Date</label>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['exchangeRateDate'].valid && formGroup.controls['exchangeRateDate'].touched), 'has-success': (formGroup.controls['exchangeRateDate'].valid && formGroup.controls['exchangeRateDate'].touched)}">
              <p-calendar id="exchangeRateDatePicker" formControlName="exchangeRateDate" showIcon="true" dateFormat="yy-mm-dd"></p-calendar>
            </div>
          </div>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <label for="currency">Currency</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="currency" field="display" [suggestions]="filteredCurrencyList" (completeMethod)="filterCurrencyList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onCurrencySelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/currency/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <label for="exchangeRate">Ex.Rate</label>
            <br/>
            <input type="number" pInputText formControlName="exchangeRate">
          </div>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            &nbsp;
            <br/>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>