<p-panel>
  <p-header>
    <div class='row'>
      <div class='col'>
        <h4>Absenteeism Form</h4>
      </div>
      <div class='col'>
        <a routerLink='/pages/absenteeism/table'>
          <button type='button' class='btn btn-primary btn-xs' style='float:right; margin-right:6px;'>
            <i ng-reflect-class-name='fa fa-file-text-o' class='ui-button-icon-left ui-clickable fa fa-fw fa-close'></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class='row'>
    <div class='col-sm-12'>
      <form [formGroup]='formGroup' (ngSubmit)='onSubmit(formGroup.value,$event)' class='form-horizontal'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <label for='effectiveMonthPicker'>Effective Month</label>
            <br/>
            <p-calendar id='effectiveMonthPicker' formControlName='effectiveMonth' showIcon='true' dateFormat='yy-mm'></p-calendar>
          </div>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <label for='labourSource'>Labour Source</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName='labourSource' id='labourSource' field='display' [dropdown]="true" [suggestions]='filteredLabourSources'
                (completeMethod)='filterLabourSources($event)' [size]='20' [minLength]='1' placeholder='Search'>
                <ng-template let-option pTemplate='option'>
                  <div class='ui-helper-clearfix'>
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/labourSource/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <label for='absenteeism'>Absenteeism</label>
            <br/>
            <input type='number' pInputText id='absenteeism' formControlName='absenteeism'>
          </div>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <label for='target'>Target</label>
            <br/>
            <input type='number' pInputText id='target' formControlName='target'>
          </div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <button pButton [disabled]='!formGroup.valid' type='submit' icon='fa-floppy-o' label='Save'></button>
            <button type='button' pButton class='ui-button-secondary' (click)='resetForm()' icon='fa-times' label='Reset'></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>