<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Sales Order Book List</h4>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:right; margin-right:6px;">
          <i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
      </div>
    </div>
  </p-header>
  <p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [lazy]="true"
    (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple"
    resizableColumns="true" exportFilename="salesOrderBooks">
    <p-header>
      <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration Start
          <br/>
          <p-calendar id="startDatePicker" showIcon="true" [(ngModel)]="startDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration End
          <br/>
          <p-calendar id="endDatePicker" showIcon="true" [(ngModel)]="endDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Customer
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="customer" field="display" [dropdown]="true" [suggestions]="filteredCustomers" (completeMethod)="filterCustomers($event)"
              [size]="12" [minLength]="1" placeholder="Customer" (onSelect)="onCustomerSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Customer Item
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="customerItem" field="display" [dropdown]="true" [suggestions]="filteredCustomerItems" (completeMethod)="filterCustomerItems($event)"
              [size]="12" [minLength]="1" placeholder="CustomerItem" (onSelect)="onCustomerItemSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.display}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          PO Number
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="salesOrder" field="display" [suggestions]="filteredSalesOrders" (completeMethod)="filterSalesOrders($event)"
              [size]="12" [dropdown]="true" [minLength]="1" placeholder="Search" (onSelect)="onSalesOrderSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          <br/>
          <button type="button" class="btn btn-primary btn-xs" (click)="search()">
            <i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Search
          </button> &nbsp;&nbsp;{{totalRecords}}
        </div>
      </div>
    </p-header>
    <p-column field="id" header="ID"></p-column>
    <p-column field="salesOrder.customer.code" header="Customer Code" [sortable]="true"></p-column>
    <p-column field="salesOrder.customer.name" header="Customer Name" [sortable]="true"></p-column>
    <p-column field="salesOrder.customerPoNumber" header="Customer Po Number" [sortable]="true"></p-column>
    <p-column field="customerItem.code" header="Customer Item Code" [sortable]="true"></p-column>
    <p-column field="customerItem.item.code" header="OTR Code" [sortable]="true"></p-column>
    <p-column field="customerItem.item.description" header="Description" [sortable]="true"></p-column>
    <p-column field="customerItem.item.size" header="Size" [sortable]="true"></p-column>
    <p-column field="unitPrice" header="Unit Price" [sortable]="true"></p-column>
    <p-column field="customerItem.item.weight" header="Unit Weight KG" [sortable]="true"></p-column>
    <p-column field="customerItem.item.paint.code" header="Paint Code" [sortable]="true"></p-column>
    <p-column field="customerItem.item.paint.name" header="Paint Description" [sortable]="true"></p-column>
    <p-column field="quantity" header="Order Quantity" [sortable]="true"></p-column>
    <p-column field="dispatchedQuantity" header="Dispatched Quantity" [sortable]="true"></p-column>
    <p-column field="remainingQuantity" header="Remaining Quantity" [sortable]="true"></p-column>
    <p-column field="invoicedQuantity" header="Invoiced Quantity" [sortable]="true"></p-column>
    <p-column field="unInvoicedQuantity" header="Uninvoiced Quantity" [sortable]="true"></p-column>
  </p-dataTable>
</p-panel>
