@import "~normalize.css";
@import "theme/theme";

select option {
    background: rgba(0, 0, 0, 1);
    color: white;
	/*font-size:medium;
    font-weight: bold;*/
}

.form-control{
    margin-right:15px;
    margin-bottom:10px;
}