@import "~normalize.css";
@import "theme/theme";

select option {
    background: rgba(0, 0, 0, 1);
    color: white;
	/*font-size:medium;
    font-weight: bold;*/
}

.form-control{
    margin-right:15px;
    margin-bottom:10px;
}

.center {
    text-align: center;
}

.ui-panel-title{
    font-size:20px;
    display:inline-block;
    margin-top:2px;
    padding:5px;
    //background:black; 
    color:aliceblue
}

.ui-datatable table {
    table-layout: auto
}