<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Invoice Information List</h4>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:right; margin-right:6px;">
          <i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
      </div>
    </div>
  </p-header>
  <p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [lazy]="true"
    (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple"
    resizableColumns="true" exportFilename="invoiceInformations">
    <p-header>
      <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration Start
          <br/>
          <p-calendar id="startDatePicker" showIcon="true" [(ngModel)]="startDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Duration End
          <br/>
          <p-calendar id="endDatePicker" showIcon="true" [(ngModel)]="endDate" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Customer
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="customer" field="display" [dropdown]="true" [suggestions]="filteredCustomers" (completeMethod)="filterCustomers($event)"
              [size]="12" [minLength]="1" placeholder="Customer" (onSelect)="onCustomerSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Job
          <div class="ui-inputgroup">
            <p-autoComplete [(ngModel)]="job" field="display" [dropdown]="true" [suggestions]="filteredJobs" (completeMethod)="filterJobs($event)"
              [size]="12" [minLength]="1" placeholder="Job" (onSelect)="onJobSelect($event)">
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          Invoice Number
          <input type="text" pInputText [(ngModel)]="invoiceNumber" id="invoiceNumber">
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="text-align: left">
          <br/>
          <button type="button" class="btn btn-primary btn-xs" (click)="search()">
            <i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Search
          </button> &nbsp;&nbsp;{{totalRecords}}
        </div>
      </div>
    </p-header>
    <p-column field="id" header="ID"></p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.invoiceDate" header="Invoice Date" [sortable]="true"></p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.invoiceNumber" header="Invoice No" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.customer.code" header="Customer Code" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.customer.name" header="Customer Name" [sortable]="true"></p-column>
    <p-column field="dispatchSchedule.salesOrderItem.customerItem.code" header="Customer Item Code" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber" header="Customer PO" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="dispatchSchedule.salesOrderItem.customerItem.code" header="Customer Item Code" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="dispatchSchedule.job.item.code" header="OTR Code" styleClass="text-right"></p-column>
    <p-column field="dispatchSchedule.job.item.description" header="Description"></p-column>
    <p-column field="dispatchSchedule.job.jobNo" header="Job No" styleClass="text-right" [sortable]="true"></p-column>
    <p-column field="invoiceQuantity" header="Quantity" [sortable]="true" styleClass="text-right"></p-column>
    <p-column field="dispatchSchedule.job.item.weight" header="Unit Weight" styleClass="text-right" [sortable]="true">
      <ng-template let-col let-rowData="rowData" styleClass="text-right" pTemplate="body">
        {{rowData.dispatchSchedule.job.item.weight | number : '1.3-3'}}
      </ng-template>
    </p-column>
    <p-column field="dispatchSchedule.salesOrderItem.unitPrice" styleClass="text-right" header="Unit Price" [sortable]="true"></p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.totalAmount" styleClass="text-right" header="Total Value" [sortable]="true">
      <ng-template let-col let-rowData="rowData" styleClass="text-right" pTemplate="body">
        {{rowData.loadingPlan.dispatchNote.invoice.totalAmount | number : '1.2-2'}}
      </ng-template>
    </p-column>
    <p-column field="loadingPlan.dispatchNote.invoice.totalWeight" header="Total Weight" styleClass="text-right" [sortable]="true">
      <ng-template let-col let-rowData="rowData" styleClass="text-right" pTemplate="body">
        {{rowData.loadingPlan.dispatchNote.invoice.totalWeight | number : '1.3-3'}}
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
