<p-panel header="Loss Reason Form">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="lossType">Loss Type</label><br/>
              <p-autoComplete formControlName="lossType" field="name" [suggestions]="filteredLossTypes" (completeMethod)="filterLossTypes($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onDropdownClick)="handleLossTypeDropdownClick($event)" (onSelect)="onLossTypeSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <label *ngIf="formGroup.value.lossType != null && formGroup.value.lossType.code != null">
              &nbsp; {{formGroup.value.lossType.code}}{{formGroup.value.lossType.name != null ?" | "+ formGroup.value.lossType.name:""}}
            </label>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="formGroup.value.lossType != null">
          <p class="hidden-xs-down">&nbsp;</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="code">Code</label><br/>
              <input type="text" pInputText formControlName="code">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="name">Name</label><br/>
              <input type="text" pInputText formControlName="name">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              &nbsp;<br/>
              <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
              <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>