<p-panel>
  <p-header>
    <div class="row" style="margin:5px;">
      <div class="col-12 row">
        <div class="col-12">
          <p-autoComplete [(ngModel)]="job" field="display" [dropdown]="true" [suggestions]="filteredJobList" (completeMethod)="filterJobList($event)"
            [size]="15" [minLength]="1" placeholder="Search Job" (onSelect)="onJobSelect($event)">
            <ng-template let-option pTemplate="option">
              <div class="ui-helper-clearfix">
                <div>{{option.code}} </div>
              </div>
            </ng-template>
          </p-autoComplete>
          <button type="button" class="btn btn-primary btn-xs" (click)="fill()">
            <i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Fill</button>
          <br/>
          <br/>
        </div>
      </div>
      <div class="col-12 row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" [hidden]="job==null || job.id == undefined">ID: {{job==null || job.id == undefined?'':job.id}}</div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" [hidden]="job==null || job.id == undefined">Job: {{job==null || job.id == undefined?'':job.jobNo}}</div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" [hidden]="job==null || job.id == undefined">Date: {{job==null || job.id == undefined?'':job.jobDate | date:'y-MM-dd'}}</div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" [hidden]="job==null || job.id == undefined">Quantity: {{job==null || job.id == undefined?'':job.quantity}}</div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" [hidden]="job==null || job.item == undefined">Item: {{job==null || job.id == undefined?'':job.item.code}} </div>
      </div>
    </div>
  </p-header>
  <div class="row" *ngIf="job.id != undefined">
    <p-tabView>
      <p-tabPanel header="Summary">
        <p-dataTable #dt1 [value]="operationSummaryList" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalOperationSummaryRecords"
          [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple" resizableColumns="true"
          exportFilename="operationSummary">
          <p-column field="productType.description" header="Product Type"></p-column>
          <p-column field="operationType.description" header="Operation Type"></p-column>
          <p-column field="quantity" header="Quantity" styleClass="text-right"></p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel header="Operations">
        <p-dataTable #dt2 [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [pageLinks]="5"
          [lazy]="true" (onLazyLoad)="lazyOperations($event,dt2)" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single"
          sortMode="multiple" resizableColumns="true" exportFilename="operations">
          <p-column field="id" header="ID"></p-column>
          <p-column field="production.controlPoint.code" header="Control Point"></p-column>
          <p-column field="production.productionDate" header="Production Date">
            <ng-template let-col let-rowData="rowData" pTemplate="body">
              {{rowData.production.productionDate | date:'y-MM-dd'}}
            </ng-template>
          </p-column>
          <p-column field="plannedQuantity" header="Planned Quantity" styleClass="text-right"></p-column>
          <p-column field="actualQuantity" header="Actual Quantity" styleClass="text-right"></p-column>
          <p-column field="productType.description" header="Product Type"></p-column>
          <p-column field="operationType.description" header="Operation Type"></p-column>
        </p-dataTable>
      </p-tabPanel>
    </p-tabView>

  </div>
</p-panel>
