<p-panel header="Country List">
	<p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [stacked]="stacked" [paginator]="true" [totalRecords]="totalRecords"
	 [lazy]="true" (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100]" selectionMode="single" sortMode="multiple"
	 resizableColumns="true" exportFilename="countries" [globalFilter]="gb" (onRowDblclick)="onRowDblclick($event.data)">
		<p-header>
			<div class="row">
				<div class="ui-helper-clearfix col-sm-1">
					<button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:left"><i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
				</div>
				<div class="ui-helper-clearfix col-sm-1">
					<button type="button" class="btn btn-primary btn-xs" (click)="navigateToForm(0)" style="float:left"><i ng-reflect-class-name="fa fa-pencil-square-o" class="fa fa-pencil-square-o"></i> Form</button>
				</div>
				<div class="col-sm-2">
					<input #gb type="text" class="form-control form-control-sm" placeholder="search">
				</div>
			</div>
		</p-header>
		<p-column field="id" header="ID" [sortable]="true" [style]="{'width':'50px'}"></p-column>
		<p-column field="code" header="Code" [sortable]="true" [style]="{'width':'200px'}"></p-column>
		<p-column field="name" header="Name" [sortable]="true" [style]="{'width':'auto'}"></p-column>
		<p-column header="Action" [style]="{'width':'80px'}">
			<ng-template let-data="rowData" pTemplate="body">
				<a [routerLink]="'/pages/country/form/'+data.id">
					<i ng-reflect-class-name="fa fa-pencil-square-o" class="fa fa-pencil-square-o"></i>
				</a>
				&nbsp; &nbsp;
				<i (click)="delete(data.id)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
			</ng-template>
		</p-column>
	</p-dataTable>
</p-panel>