<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Import Contact Type List</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/contactType/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="uploadHandler($event)" (onSelect)="onSelect($event)"
                accept=".csv">
    <ng-template pTemplate="file">
      <div>
        <p-dataTable [value]="jsonData">
          <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
      </div>
    </ng-template>

  </p-fileUpload>
</p-panel>
