
    <p-panel>
        <p-header>
          <div class="row">
            <div class="col">
              <h4>Energy Consumption Form</h4>
            </div>
            <div class="col">
              <a routerLink="/pages/energyConsumption/table"> 
                <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
                  <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i> 
                </button>
              </a>
            </div>
          </div>
        </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="location">Location</label><br/>
              <p-autoComplete formControlName="location" field="display" [suggestions]="filteredLocations" (completeMethod)="filterLocations($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onDropdownClick)="handleLocationDropdownClick($event)" (onSelect)="onLocationSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <!-- <label *ngIf="formGroup.value.location != null && formGroup.value.location.code != null"> -->
              <!-- &nbsp; {{formGroup.value.location.code}}{{formGroup.value.location.name != null ?" | "+ formGroup.value.location.name:""}} -->
              <!-- </label> -->
            </div>
          </div>
          <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="formGroup.value.location != null"> -->
            <!-- <p class="hidden-xs-down">&nbsp;</p> -->
          <!-- </div> -->
          <!--<select id="locationSelector" class="form-control" formControlName="location">
					<option *ngFor="let location of locations" [ngValue]="location">{{location.code}}</option>
				   </select>-->
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="effectiveMonth">Effective Month</label><br/>
              <p-calendar id="effectiveMonthPicker" formControlName="effectiveMonth" showIcon="true" dateFormat="yy-mm"></p-calendar>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="kwh">KWH</label><br/>
              <input type="number" pInputText formControlName="kwh">
              <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['kwh'].valid && formGroup.controls['kwh'].touched), 'has-success': (formGroup.controls['kwh'].valid && formGroup.controls['kwh'].touched)}">
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="kva">KVA</label><br/>
              <input type="number" pInputText formControlName="kva">
              <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['kva'].valid && formGroup.controls['kva'].touched), 'has-success': (formGroup.controls['kva'].valid && formGroup.controls['kva'].touched)}">
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="cost">Cost</label><br/>
              <input type="number" pInputText formControlName="cost">
              <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['cost'].valid && formGroup.controls['cost'].touched), 'has-success': (formGroup.controls['cost'].valid && formGroup.controls['cost'].touched)}">
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="reference">Reference</label><br/>
              <input type="text" pInputText formControlName="reference">
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="ui-inputgroup">
            &nbsp;<br/>
        <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
        <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>