<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Raw Material Item Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/rawMaterialItem/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="code">Code</label>
            <br/>
            <input type="text" pInputText formControlName="code">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="description">Description</label>
            <br/>
            <input type="text" pInputText formControlName="description"[size]="35">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="unitWeight">Unit Weight</label>
            <br/>
            <input type="number" pInputText formControlName="unitWeight">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="numberOfPieces">Number Of Pieces</label>
            <br/>
            <input type="number" pInputText formControlName="numberOfPieces" >
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
            <br/>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>