<p-panel>
  <p-header>
    <div class='row'>
      <div class='col'>
        <h4>Packing List Form</h4>
      </div>
      <div class='col'>
        <a routerLink='/pages/packingList/table'>
          <button type='button' class='btn btn-primary btn-xs' style='float:right; margin-right:6px;'>
            <i ng-reflect-class-name='fa fa-file-text-o' class='ui-button-icon-left ui-clickable fa fa-fw fa-close'></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class='row'>
    <div class='col-sm-12'>
      <form [formGroup]='formGroup' (ngSubmit)='onSubmit(formGroup.value,$event)' class='form-horizontal'>
        <div class='row'>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for="customer">Customer</label> &nbsp;
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="customer" [dropdown]="true" field="display" [suggestions]="filteredCustomerList" (completeMethod)="filterCustomerList($event)"
                [minLength]="1" placeholder="Search" (onSelect)="onCustomerSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/customer/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for="address">Address</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="address" field="display" [suggestions]="filteredAddressList" (completeMethod)="filterAddressList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onAddressSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/customer/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='employee'>Contact Person</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete [dropdown]="true" formControlName="employee" field="display" [suggestions]="filteredEmployeeList" (completeMethod)="filterEmployeeList($event)"
                [size]="20" [minLength]="1" placeholder="Search">
              </p-autoComplete>
              <a routerLink="/pages/employee/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='portOfLoading'>Port Of Loading</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName='portOfLoading' id='port' field='display' [dropdown]="true" [suggestions]='filteredPorts'
                (completeMethod)='filterPorts($event)' [size]='20' [minLength]='1' placeholder='Search'>
              </p-autoComplete>
              <a routerLink="/pages/port/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='country'>Country Of Final Destination</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName='country' id='country' field='display' [dropdown]="true" [suggestions]='filteredCountries'
                (completeMethod)='filterCountries($event)' [size]='20' [minLength]='1' placeholder='Search'>
              </p-autoComplete>
              <a routerLink="/pages/country/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='port'>Final Destination</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName='port' id='port' field='display' [dropdown]="true" [suggestions]='filteredPorts' (completeMethod)='filterPorts($event)'
                [size]='20' [minLength]='1' placeholder='Search'>
              </p-autoComplete>
              <a routerLink="/pages/port/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='containerSize'>Container Size</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName='containerSize' id='containerSize' field='display' [dropdown]="true" [suggestions]='filteredContainerSizes'
                (completeMethod)='filterContainerSizes($event)' [size]='20' [minLength]='1' placeholder='Search'>
              </p-autoComplete>
              <a routerLink="/pages/containerSize/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='noOfContainers'>No Of Containers</label>
            <br/>
            <input type='number' pInputText formControlName='noOfContainers'>
          </div>
        </div>
        <br/>
        <p-panel>
          <div class="row">
            <div class=" col-sm-12">
              <form [formGroup]=" dispatchNoteFormGroup" (ngSubmit)="onSubmit(dispatchNoteFormGroup.value,$event)" class="form-horizontal">
                <div class="row">
                  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group" [ngClass]="{'has-error': (! dispatchNoteFormGroup.controls['dispatchNote'].valid &&  dispatchNoteFormGroup.controls['dispatchNote'].touched), 'has-success': ( dispatchNoteFormGroup.controls['dispatchNote'].valid && dispatchNoteFormGroup.controls['dispatchNote'].touched)}">
                      <label for="dispatchNote">Dispatch Note ID</label> &nbsp;
                      <br/>
                      <div class="ui-inputgroup">
                        <p-autoComplete id="dispatchNoteSelector" #dispatchNote (keyup.enter)="onEnter(dispatchNote.value,dt)" formControlName="dispatchNote"
                          [dropdown]="true" field="display" [suggestions]="filteredDispatchNoteList" (completeMethod)="filterDispatchNoteList($event)"
                          [minLength]="1" placeholder="Search" (onSelect)="onDispatchNoteSelect($event)">
                          <ng-template let-option pTemplate="option">
                            <div class="ui-helper-clearfix">
                              <div>{{option.id}}</div>
                            </div>
                          </ng-template>
                        </p-autoComplete>
                        <a routerLink="/pages/dispatchNote/form" target="blank">
                          <button pButton type="button" icon="fa-plus-circle"></button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputFirstName">&nbsp;</label>
                    <br/>
                    <div class="form-group form-inline">
                      <button (click)="onEnter(dispatchNote.value,dt)" pButton type="button" class="ui-button-secondary" icon="fa-plus-circle"
                        label="Add"></button> &nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <p-dataTable #dt [value]="dispatchList" [editable]="true" [rows]="20" [responsive]="true" resizableColumns="true">
                    <p-column field="id" header="ID"></p-column>
                    <p-column field="dispatchSchedule.job.jobNo" header="Job No"></p-column>
                    <p-column field="dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber" header="Customer Po"></p-column>
                    <p-column field="dispatchSchedule.salesOrderItem.customerItem.code" header="Customer Item Code"></p-column>
                    <p-column field="dispatchSchedule.salesOrderItem.customerItem.name" header="Customer Item Name"></p-column>
                    <p-column field="dispatchSchedule.job.item.code" header="Item Code"></p-column>
                    <p-column field="dispatchSchedule.job.item.size" header="Size"></p-column>
                    <p-column field="quantity" header="Quantity"></p-column>
                  </p-dataTable>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
        <div class="row">
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='numberOfPackage'>Number Of Package</label>
            <br/>
            <input type='number' pInputText formControlName='numberOfPackage'>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='netWeight'>Net Weight</label>
            <br/>
            <input type='number' pInputText formControlName='netWeight'>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='grossWeight'>Gross Weight</label>
            <br/>
            <input type='number' pInputText formControlName='grossWeight'>
          </div>
          <div class='col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12'>
            <label for='cubicMeter'>Cubic Meter</label>
            <br/>
            <input type='number' pInputText formControlName='cubicMeter'>
          </div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>