<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Control Point Machine Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/controlPointMachine/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="controlPoint">ControlPoint</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="controlPoint" [dropdown]="true" field="display" [suggestions]="filteredControlPoints" (completeMethod)="filterControlPoints($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onControlPointSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/controlPoint/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="machine">Machine</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="machine" [dropdown]="true" field="display" [suggestions]="filteredMachines" (completeMethod)="filterMachines($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onMachineSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/machine/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            &nbsp;
            <br/>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>