<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ba-card class="section">
			<div class="row">
				<div class="form-group">
					<label>Duration</label>
					<p-calendar id="startDatePicker" [(ngModel)]="startDate" showIcon="true" dateFormat="yy-mm-dd" [style]="{'padding-right': '30px'}"></p-calendar>
					<p-calendar id="endDatePicker" [(ngModel)]="endDate" showIcon="true" dateFormat="yy-mm-dd" [style]="{'padding-right': '30px'}"></p-calendar>
				
					<label>Section</label>
					<select [(ngModel)]="section" class="form-control-sm">				
						<option *ngFor="let section of sections" [ngValue]="section" >{{section.code}}</option>
					</select>
			
					
					<label>Chart</label>
					<select [(ngModel)]="chart" class="form-control-sm">				
						<option *ngFor="let chart of charts" [ngValue]="chart" >{{chart.name}}</option>
					</select>
					<button type="button" class="btn btn-info" (click)="loadChart()">Load</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</ba-card>
	</div>
</div>