<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Dispatch Release Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/dispatchRelease/table"> 
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
           <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i> 
            </button>
          </a>
      </div>
    </div>
  </p-header>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
    <div class="row">
      <div class="col-12">
        <div class="ui-inputgroup">
          <label for="id">Dispatch Note ID</label>
          <input type="text" pInputText formControlName="id">
          <button type="button" class="btn btn-primary btn-xs" (click)="fill()"><i ng-reflect-class-name="fa fa-search" class="fa fa-search"></i> Fill</button>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [hidden]="dispatchNote==null || dispatchNote.customer == undefined || dispatchNote.customer.name == undefined">Customer : {{dispatchNote==null || dispatchNote.id == undefined?'':dispatchNote.customer.name}}</div>
        <br/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [hidden]="dispatchNote==null || dispatchNote.address == undefined || dispatchNote.address.line1 == undefined">Ship To : {{dispatchNote==null || dispatchNote.id == undefined?'':dispatchNote.address.line1}}</div>
        <br/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [hidden]="dispatchNote==null || dispatchNote.employee == undefined ||  dispatchNote.employee.firstName == undefined">Sales Person : {{dispatchNote==null || dispatchNote.id == undefined?'':dispatchNote.employee.firstName}}</div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <p-dataTable #dt [value]="dispatchNote.dispatchList" [editable]="true" [rows]="20" [responsive]="true" resizableColumns="true">
          <p-column field="id" header="ID"></p-column>
          <p-column field="dispatchSchedule.job.jobNo" header="Job No"></p-column>
          <p-column field="dispatchSchedule.confirmDate" header="Confirm Date"></p-column>
          <p-column field="dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber" header="Customer Po"></p-column>
          <p-column field="dispatchSchedule.salesOrderItem.customerItem.code" header="Customer Item Code"></p-column>
          <p-column field="dispatchSchedule.job.item.code" header="OTR Code"></p-column>
          <p-column field="dispatchSchedule.salesOrderItem.customerItem.name" header="Customer Description"></p-column>
          <p-column field="dispatchSchedule.job.item.size" header="Size"></p-column>
          <p-column field="quantity" header="Quantity" styleClass="text-right" [editable]="true"></p-column>
          <p-footerColumnGroup>
            <p-row>
              <p-column footer="Totals:" colspan="8" styleClass="text-right"></p-column>
              <p-column footer="{{dispatchNote.quantity}}" styleClass="text-right"></p-column>
            </p-row>
          </p-footerColumnGroup>
        </p-dataTable>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="vehicleNumber">Vehicle Number</label><br/>
              <input type="text" pInputText formControlName="vehicleNumber">
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="recipient">Recipient</label><br/>
              <input type="text" pInputText formControlName="recipient">
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="dispatchReleaseTime">Time</label>
              <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['dispatchReleaseTime'].valid && formGroup.controls['dispatchReleaseTime'].touched), 'has-success':(formGroup.controls['dispatchReleaseTime'].valid && formGroup.controls['dispatchReleaseTime'].touched)}">
                <p-calendar id="timePicker" formControlName="dispatchReleaseTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
                  hourFormat="24"></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="ui-inputgroup">
              <label for="containerNumber">Container Number</label><br/>
              <input type="text" pInputText formControlName="containerNumber">
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;<br/>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        &nbsp;<br/>
        <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
        <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
      </div>
    </div>
  </form>
</p-panel>