<div id="pallet-lable-print" hidden *ngIf="loadingPlan!=undefined" style="font-size: 130%;">
  <div class="container-fluid" style="padding: 15px;">

    <!-- Page Header  -->
    <div class='divFooter'>
      <span *ngFor="let loadingPlanItem of loadingPlan.loadingPlanItemList">
        <span *ngFor="let page of loadingPlanItem.pageList; let i = index">
          <div class='row' *ngFor="let y of [1,2]">
            <div class="col-xs-12">
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <table class="table table-bordered table-sm">
                <tr>
                  <td class="text-center">
                    <img src="/assets/img/logo.png" />
                  </td>
                  <td class="text-center">
                    <h3>
                      <b>OTR WHEEL ENGINEERING LANKA (PVT) LTD</b>
                    </h3>
                    <br/>
                    <h4>
                      <b>PALLET LABLE</b>
                    </h4>
                  </td>
                  <td>
                    <h6>
                      <b>Loading Plan: {{loadingPlan.id}}
                      </b>
                      <br/>
                      <br/>
                      <b>Row: {{loadingPlanItem.id}}
                      </b>
                      <br/>
                      <br/>
                      <b>DATE: {{loadingPlan.loadingPlanDate | date:'y-MM-dd'}}
                      </b>
                    </h6>
                  </td>
                </tr>
              </table>
              <table class="table table-bordered table-sm">
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>DESTINATION : </b>{{loadingPlan.address?.port?.name}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>CUSTOMER NO : </b>
                      {{loadingPlan.customer.code}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>ORDER NO : </b>
                      {{loadingPlanItem.dispatchSchedule.salesOrderItem.salesOrder.customerPoNumber }}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>CUSTOMER PART NO : </b>
                      {{loadingPlanItem.dispatchSchedule.salesOrderItem.customerItem.code}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>OTR LK CODE / ITEM DESCRIPTION : </b>
                      {{loadingPlanItem.dispatchSchedule.job.item.code}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>WHEEL / RIM SIZE : </b>
                      {{loadingPlanItem.dispatchSchedule.job.item.size}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>JOB NO : </b>
                      {{loadingPlanItem.dispatchSchedule.job.jobNo}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>QUANTITY : </b>
                      {{page.quantity}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      <b>PACKED BY :
                      </b>
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>
                      <b>APPROVED BY :</b>
                    </h4>
                  </td>
                  <td>
                    <h4>
                      <b>PACKAGE NO : </b>
                      {{i+1}} / {{loadingPlanItem.pageList.length}}
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    DOC: ID/001 &nbsp;&nbsp;&nbsp; ISSUE NO: 03 &nbsp;&nbsp;&nbsp;ISSUE DATE: 2018/05/08
                  </td>
                </tr>
              </table>

              <br/>
              <br/>
              <br/>
              <br/>
              <br/>

            </div>
          </div>

          <div class="pagebreak"></div>
        </span>
      </span>
    </div>
  </div>
</div>
