<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Subcontract Arrival Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/subcontractArrival/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <p-panel>
    <div class="row">
      <div class=" col-sm-12">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="arrivalTime">Arrival Time</label>
            <div class="form-group">
              <p-calendar id="dateOfRatePicker" [(ngModel)]="arrivalTime" showIcon="true" dateFormat="yy-mm-dd"></p-calendar>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="subcontractNote">Subcontract Note</label> &nbsp;
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete id=subcontractNoteSelector [(ngModel)]="subcontractNote" [dropdown]="true" field="display" [suggestions]="filteredSubcontractNoteList"
                (completeMethod)="filterSubcontractNoteList($event)" [minLength]="1" placeholder="Search" (onSelect)="onSubcontractNoteSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.display}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/subcontractNote/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p-dataTable #dt [value]="subcontractArrivalList" [editable]="true" [rows]="20" [responsive]="true" resizableColumns="true">
              <p-column field="subcontractOperation.job.display" header="Job"></p-column>
              <p-column field="subcontractOperation.subcontractOperationRate.subcontractorOperation.subcontractOperationDefinition.display"
                header="Subcontract Operation Definition" [sortable]="true"></p-column>
              <p-column field="subcontractOperation.quantity" header="Dispatch Quantity" styleClass="text-right"></p-column>
              <p-column field="totalReceivedQuantity" header="Total Received Quantity" styleClass="text-right"></p-column>
              <p-column field="quantity" [editable]="true" header="Received Quantity" styleClass="text-right"></p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      &nbsp;
      <br/>
      <button pButton type="button" (click)="save()" icon="fa-floppy-o" label="Save"></button>
      <button type="button" pButton class="ui-button-secondary" (click)="reset()" icon="fa-times" label="Reset"></button>
      <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
    </div>
  </div>
</p-panel>
