<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Employee Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/employee/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="code">Employee ID</label>
            <br/>
            <input type="text" pInputText formControlName="code">
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="fullName">Full Name</label>
            <br/>
            <input type="text" pInputText formControlName="fullName">
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="callingName">Calling Name</label>
            <br/>
            <input type="text" pInputText formControlName="callingName">
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="nic">NIC</label>
            <br/>
            <input type="text" pInputText formControlName="nic">
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="dateOfBirth">Date Of Birth</label>
            <br/>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['dateOfBirth'].valid && formGroup.controls['dateOfBirth'].touched), 'has-success': (formGroup.controls['dateOfBirth'].valid && formGroup.controls['dateOfBirth'].touched)}">
              <p-calendar id="dateOfBirthPicker" formControlName="dateOfBirth" showIcon="true" dateFormat="yy-mm-dd"></p-calendar>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="employeeCategory"> Employee Category</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="employeeCategory" [dropdown]="true" field="display" [suggestions]="filteredEmployeeCategorys"
                (completeMethod)="filterEmployeeCategory($event)" [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onEmployeeCategorySelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/designation/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for=" designationType"> Designation</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="designation" [dropdown]="true" field="display" [suggestions]="filteredDesignations" (completeMethod)="filterDesignation($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onDesignationSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/designation/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="labourSource">Labour Source </label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="labourSource" [dropdown]="true" field="display" [suggestions]="filteredLabourSources" (completeMethod)="filterLabourSource($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onLabourSourceSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/labourSource/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for=" section"> Section</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="section" [dropdown]="true" field="display" [suggestions]="filteredSections" (completeMethod)="filterSection($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onSectionSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/section/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for=" shift"> Shift</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="shift" [dropdown]="true" field="display" [suggestions]="filteredShifts" (completeMethod)="filterShift($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onShiftSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <a routerLink="/pages/shift/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6 col-12">
            <label for="contactNumber">Contact Number</label>
            <br/>
            <input type="text" pInputText formControlName="contactNumber">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            &nbsp;
            <br/>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>