<p-panel header="Job Form">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-sm-2">
            <label for="jobNo">Job Number</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" formControlName="jobNo">
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-2">
            <label for="jobDate">Job Date</label>
          </div>
          <div class="col-sm-3">
            <p-calendar id="breakdownTimePicker" class="form-control" formControlName="jobDate" showIcon="true" dateFormat="yy-mm-dd"></p-calendar>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-2">
            <label for="jobType">Type</label>
          </div>
          <div class="col-sm-3">
            <select id="jobTypeSelector" class="form-control" formControlName="jobType">
					        <option *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{jobType.code}}</option>
				        </select>
          </div>
          <div class="col-sm-6" *ngIf="formGroup.value.jobType != null">
            <label>{{formGroup.value.jobType.code}} | {{formGroup.value.jobType.name}}</label>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-2">
            <label for="item">Item</label>
          </div>
          <div class="col-sm-3">
            <select id="itemSelector" class="form-control" formControlName="item">
					        <option *ngFor="let item of items" [ngValue]="item">{{item.code}}</option>
				        </select>
          </div>
          <div class="col-sm-6" *ngIf="formGroup.value.item != null">
            <label>{{formGroup.value.item.code}} | {{formGroup.value.item.name}}</label>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-2">
            <label for="quantity">quantity</label>
          </div>
          <div class="col-sm-3">
            <input type="number" class="form-control" formControlName="quantity">
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-3">
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>
<!--
<div class="widgets">
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
</div>
-->