<p-panel header="Job Form">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="jobNo">Job Number</label>
            <input type="text" class="form-control" formControlName="jobNo">
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12 hidden-xs-down">
          </div>
        
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="jobDate">Job Date</label>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['jobDate'].valid && formGroup.controls['jobDate'].touched), 'has-success': (formGroup.controls['jobDate'].valid && formGroup.controls['jobDate'].touched)}">
              <p-calendar id="jobDatePicker" class="form-control" formControlName="jobDate" showIcon="true" dateFormat="yy-mm"></p-calendar>
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12 hidden-xs-down">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="jobType">Type</label>
             <br/>
            <p-autoComplete formControlName="type" field="name" [suggestions]="filteredTypes" (completeMethod)="filterTypes($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handleTypeDropdownClick($event)"
              (onSelect)="onTypeSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
             <!--<select id="jobTypeSelector" class="form-control" formControlName="jobType">
					  <option *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{jobType.code}}</option>
				    </select> -->
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12" *ngIf="formGroup.value.jobType != null">
             <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.jobType.code}} | {{formGroup.value.jobType.name}}</label>
          </div>
        
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="item">Item</label>
            <br/>
            <p-autoComplete formControlName="item" field="name" [suggestions]="filteredItems" (completeMethod)="filterItems($event)"
              [size]="30" [minLength]="1" placeholder="Search"(onDropdownClick)="handleItemDropdownClick($event)"
              (onSelect)="onItemSelect($event)">
              <ng-template let-option pTemplate="option">
                <div class="ui-helper-clearfix">
                  <div>{{option.code}} : {{option.name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
             <!--<select id="itemSelector" class="form-control" formControlName="item">
					  <option *ngFor="let item of items" [ngValue]="item">{{item.code}}</option>
				    </select>-->
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12" *ngIf="formGroup.value.item != null">
             <p class="hidden-xs-down">&nbsp;</p>
            <label>{{formGroup.value.item.code}} | {{formGroup.value.item.name}}</label>
          </div>   
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="quantity">quantity</label>
            <input type="number" class="form-control" formControlName="quantity">
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12 hidden-xs-down">
          </div>
      
          <div class="col-md-12 col-sm-12 col-xs-12">
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>
<!--
<div class="widgets">
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
</div>
-->