<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Breakdown Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/breakdown/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="breakdownNumber">Breakdown Number</label>
            <br/>
            <input type="text" pInputText formControlName="breakdownNumber">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label for="machine">Machine</label>
            <br/>
            <div class="ui-inputgroup">
              <p-autoComplete formControlName="machine" [dropdown]="true" field="display" [suggestions]="filteredMachineList" (completeMethod)="filterMachineList($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onSelect)="onMachineSelect($event)">
              </p-autoComplete>
              <a routerLink="/pages/machines/form" target="blank">
                <button pButton type="button" icon="fa-plus-circle"></button>
              </a>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="breakdownTime">Breakdown Time</label>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['breakdownTime'].valid && formGroup.controls['breakdownTime'].touched), 'has-success': (formGroup.controls['breakdownTime'].valid && formGroup.controls['breakdownTime'].touched)}">
              <p-calendar id="breakdownTimePicker" formControlName="breakdownTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
                hourFormat="24"></p-calendar>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="recoveryTime">Recovery Time</label>
            <div class="form-group" [ngClass]="{'has-error': (!formGroup.controls['recoveryTime'].valid && formGroup.controls['recoveryTime'].touched), 'has-success': (formGroup.controls['recoveryTime'].valid && formGroup.controls['recoveryTime'].touched)}">
              <p-calendar id="recoveryTimePicker" formControlName="recoveryTime" showIcon="true" dateFormat="yy-mm-dd" showTime="showTime"
                hourFormat="24"></p-calendar>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="description">Description</label>
            <br/>
            <input type="text" pInputText formControlName="description">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
            <br/>
            <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
            <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            <button type="button" pButton (click)="refresh()" class="ui-button-info" icon="fa-refresh" label="Refresh"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>
